- content_for :head do
  = javascript_pack_tag 'search_vue', 'data-turbolinks-track': 'reload'

%div{'data-behavior' => 'vue-layout'}
  %layout-button
    THIS IS

  = render 'rooms_search_bar'
  = render 'rooms_search_filters'
  .rooms-results{"data-controller" => "layout" }
    -# = render 'results_layout_toggle'
    .span
    .rooms-index-rows-header
      .rooms-index-row-name
        %h2 Name
      .rooms-index-row-capacity
        %h2 Capacity
      .rooms-index-row-facility-code-heprod
        %h2 Facility Code
      .rooms-index-row-calandar-url
        %h2 Calandar

    .rooms-index-rows{"v-bind:class" => "{ active: isRow }"}
      = render partial: "./rooms/rooms_index_row", collection: @rooms, as: :room, cached: true
    .rooms-index-cards{"v-bind:class" => "{ active: isCard }"}
      = render partial: "./rooms/rooms_index_card", collection: @rooms, as: :room, cached: true
    .rooms-index-map
