= render 'rooms-search-bar'
= render 'rooms-search-filters'

- @rooms.each do |room|
  .media.pt-2
    %img.d-flex.align-self-start.mr-3{:alt => "Generic placeholder image", :src => "http://placekitten.com/150/150"}/
    .media-body
      %h5.mt-0
        = "#{room.room_number} #{room.building.nick_name}"
      %p
        %i.fas.fa-users
        Student Capacity:
        = room.instructional_seating_count
      %p Donec sed odio dui. Nullam quis risus eget urna mollis ornare vel eu leo. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
