- content_for :head do
  %link{href: "https://cdn.jsdelivr.net/npm/choices.js@9.0.1/public/assets/styles/choices.min.css", rel: "stylesheet"}

.search-filters
  = search_form_for @q, data: { controller: "autosubmit toggle" , target: "autosubmit.form", action: "ajax:success->autosubmit#success ajax:error->autosubmit#error" }, remote: true do |f|

    .search-filters-containers
      -# = render './search/search_input', locals: f: f, cached: true
      .classrooms-page-header
        .flex-1.min-w-0
          %h2
            Filter Classrooms
        .matches{class: "xl:hidden", data: {target: "autosubmit.status"}}
          #rooms-search-matches= matches(@results.size)
      .search-for-buildings-container
        // %label.filters-section-header-building{for: "building_name"} Buildings
        .flex.mt-1.shadow-sm
          .relative.flex-grow{class: "focus-within:z-10"}
            .search-by-building-name#buidling_name{class: "block w-full  transition duration-150 ease-in-out  form-input py-0 rounded-md sm:text-sm sm:leading-5"}
              = f.select :facility_code_heprod_or_room_number_or_building_name_or_building_nick_name_or_building_abbreviation_in, @searchable_buildings, {:prompt => 'Building Name'}, {multiple: true, data: {controller: "choices", target: "choices.choice", action: "autosubmit#change"}}



      = render './search/search_result_tools', cached: true

    - if current_user
      .filters-container.hiddens{data: {target: "toggle.toggleable" }}
        .capacity-school
          = render './search/capacity_slider',  f: f
          = render './search/school_or_college',  f: f

        = render './search/classroom_amenities', f: f
        = render './search/classroom_type', f: f
        = render 'search/writing_surface', f: f
        = render 'search/projection_type', f: f
