= search_form_for @q, remote: true, url: search_rooms_path do |f|

  %section.search-filters
    .flex.justify-between.px-4.py-3
      .relative.max-w-lg.w-full
        .absolute.inset-y-0.left-0.flex.items-center.pl-3
          %svg.h-6.w-6.fill-current.text-gray-600{:fill => "none", :viewbox => "0 0 24 24", :xmlns => "http://www.w3.org/2000/svg"}
            %path{:d => "M16.32 14.9l1.1 1.1c.4-.02.83.13 1.14.44l3 3a1.5 1.5 0 0 1-2.12 2.12l-3-3a1.5 1.5 0 0 1-.44-1.14l-1.1-1.1a8 8 0 1 1 1.41-1.41l.01-.01zM10 16a6 6 0 1 0 0-12 6 6 0 0 0 0 12z"}

        = f.search_field :facility_code_heprod_or_building_name_or_building_nick_name_or_building_abbreviation_cont, class: 'search-input rounded-lg', "aria-describedby" => "Search by building name or nick name", "aria-label" => "Search by building name or nick name", :placeholder => "Search by building name or nick name", :type => "text"

      %button.filters-button{"data-action" => "toggle#filtertoggle"}
        %svg.h-6.w-6.fill-current.text-gray-500{:viewbox => "0 0 512 512", :xmlns => "http://www.w3.org/2000/svg", "data-target" => "toggle.filters" }
          %path{:d => "M504 384H192v-40c0-13.3-10.7-24-24-24h-48c-13.3 0-24 10.7-24 24v40H8c-4.4 0-8 3.6-8 8v16c0 4.4 3.6 8 8 8h88v40c0 13.3 10.7 24 24 24h48c13.3 0 24-10.7 24-24v-40h312c4.4 0 8-3.6 8-8v-16c0-4.4-3.6-8-8-8zm-344 64h-32v-96h32v96zM504 96H256V56c0-13.3-10.7-24-24-24h-48c-13.3 0-24 10.7-24 24v40H8c-4.4 0-8 3.6-8 8v16c0 4.4 3.6 8 8 8h152v40c0 13.3 10.7 24 24 24h48c13.3 0 24-10.7 24-24v-40h248c4.4 0 8-3.6 8-8v-16c0-4.4-3.6-8-8-8zm-280 64h-32V64h32v96zm280 80h-88v-40c0-13.3-10.7-24-24-24h-48c-13.3 0-24 10.7-24 24v40H8c-4.4 0-8 3.6-8 8v16c0 4.4 3.6 8 8 8h312v40c0 13.3 10.7 24 24 24h48c13.3 0 24-10.7 24-24v-40h88c4.4 0 8-3.6 8-8v-16c0-4.4-3.6-8-8-8zm-120 64h-32v-96h32v96z"}

        %svg.h-6.w-6.fill-current.text-gray-500.hidden{:viewbox => "0 0 512 512", :xmlns => "http://www.w3.org/2000/svg", "data-target" => "toggle.filters"}
          %path{:d => "M160 168v-48c0-13.3-10.7-24-24-24H96V8c0-4.4-3.6-8-8-8H72c-4.4 0-8 3.6-8 8v88H24c-13.3 0-24 10.7-24 24v48c0 13.3 10.7 24 24 24h40v312c0 4.4 3.6 8 8 8h16c4.4 0 8-3.6 8-8V192h40c13.3 0 24-10.7 24-24zm-32-8H32v-32h96v32zm152 160h-40V8c0-4.4-3.6-8-8-8h-16c-4.4 0-8 3.6-8 8v312h-40c-13.3 0-24 10.7-24 24v48c0 13.3 10.7 24 24 24h40v88c0 4.4 3.6 8 8 8h16c4.4 0 8-3.6 8-8v-88h40c13.3 0 24-10.7 24-24v-48c0-13.3-10.7-24-24-24zm-8 64h-96v-32h96v32zm152-224h-40V8c0-4.4-3.6-8-8-8h-16c-4.4 0-8 3.6-8 8v152h-40c-13.3 0-24 10.7-24 24v48c0 13.3 10.7 24 24 24h40v248c0 4.4 3.6 8 8 8h16c4.4 0 8-3.6 8-8V256h40c13.3 0 24-10.7 24-24v-48c0-13.3-10.7-24-24-24zm-8 64h-96v-32h96v32z"}


        %span.ml-2 Filters

    .filters-dropdown.hidden{ "data-target" => "toggle.filters" }
      .lg:flex.xl:block.xl:overflow-y-auto.xl:max-w-xs

        .px-4.py-4.border-t.border-gray-900.xl:border-t-0{:class => ""}
          .flex.flex-wrap.-mx-2
            -# %label.filter.block.px-2{:class => "w-1/2 sm:w-1/4 lg:w-1/2"}
            -#   %span.section-header Campus
            -#   %select.mt-1.form-select.block.w-full.text-white.shadow.focus:bg-gray-600
            -#     %option Ann Arbor Central Campus
            %label.block.px-2{:class => "w-1/2 lg:w-full"}
              %span.section-header.mb-4 Department
              %select.form-select.department-multiselect
                %option School of Education
            %label.mt-4.block.w-full.px-2.sm:mt-0.lg:mt-4.lg:w-full{:class => "sm:w-1/2"}
              %div.section-header.mb-4 Student Capacity
              %div.px-2.py-4.rounded-lg.tooltip.tooltip-top{"data-tooltip" => "Only show rooms with a capacity between X and Y"}
                #slider.w-full.shadow
                -# #reset-slider.self-end
                -#   Reset

        .classroom-type
          %span.section-header Classroom Type
          .characteristics-arrangement
            %label.filter-label
              %input.form-radio{:name => "classroomType", :type => "radio", :value => "team_learning"}/
              %span Team Learning

            %label.filter-label
              %input.form-radio{:name => "classroomType", :type => "radio", :value => "lecture_hall"}/
              %span Lecture Hall
            %label.filter-label
              %input.form-radio{:name => "classroomType", :type => "radio", :value => "computer_classroom"}/
              %span.w-auto Computer Classroom

        .classroom-amenities
          %span.section-header Amenities
          .characteristics-arrangement.sm:flex-wrap
            %label.filter-label
              %input.form-checkbox{:name => "video_projection", :type => "checkbox"}
              %span Video Projection
            %label.filter-label

              = check_box_tag('q[room_characteristics_chrstc_descrshort_cont_any][]',"InstrComp, CompPodPC, CompPodMac", false, {class: ' form-checkbox', data: { url: search_rooms_path, remote: true }})

              %span Instructor Computer
            %label.filter-label
              = check_box_tag('q[room_characteristics_chrstc_descrshort_cont_all][]',"DocCam", false, {class: ' form-checkbox', data: { url: search_rooms_path, remote: true }})
              %span Document Camera
            %label.filter-label
              = check_box_tag('q[room_characteristics_chrstc_descrshort_cont_all][]',"LectureCap", false, {class: ' form-checkbox', data: { url: search_rooms_path, remote: true }})
              %span Lecture Capture
            %label.filter-label
              = check_box_tag('q[room_characteristics_chrstc_descrshort_cont_all][]',"VideoConf", false, {class: ' form-checkbox', data: { url: search_rooms_path, remote: true }})

              %span Video Conferencing
            %label.filter-label
              = check_box_tag('q[room_characteristics_chrstc_descrshort_cont_all][]',"IntrScreen", false, {class: ' form-checkbox', data: { url: search_rooms_path, remote: true }})
              %span Interactive Screen
            %label.filter-label{}
              = check_box_tag('q[room_characteristics_chrstc_descrshort_cont_any][]', ['BluRay'], false, {class: ' form-checkbox', data: { url: search_rooms_path, remote: true }})

              -# .checkbox-label BluRay / DVD Player
              %span{:class => "sm:w-full"} BluRay / DVD Player

        %div{:class => "flex flex-col inline-block lg:border-l lg:border-blue-900 xl:border-l-0"}
          .writing-surface{:class => "w-full"}
            %span.section-header Writing Surface

            -# .sm:flex.sm:-mx-2.lg:block.lg:mx-0
            .characteristics-arrangement{:class => "sm:w-full "}
              %label.filter-label
                %input.form-radio{:name => "boardType", :type => "radio", :value => "chalkboard"}/
                %span{:class => "" } Chalkboard
              %label.filter-label
                %input.form-radio{:name => "boardType", :type => "radio", :value => "whiteboard"}/
                %span{} Whiteboard

          .projection-type
            %span.section-header Projection
            .characteristics-arrangement
              %label.filter-label{:class => ""}
                %input.form-radio{:name => "projectionType", :type => "radio", :value => "35mm_film"}/
                %span 35mm Film
              %label.filter-label{:class => ""}
                %input.form-radio{:name => "projectionType", :type => "radio", :value => "digital_cinema_projection"}/
                %span Digital Cinema (DCP)
              %label.filter-label{:class => ""}
                %input.form-radio{:name => "projectionType", :type => "radio", :value => "projection_digital_data_and_video"}/
                %span.w-auto{:class => ""}  Digital Data & Video
              %label.filter-label{:class => ""}
                %input.form-radio{:name => "projectionType", :type => "radio", :value => "projection_slide"}/
                %span.w-auto{:class => ""}  Slide Projector

    .filter-tools
      .search-results#rooms-search-matches.inline-flex
        = @q.result.size
        .hidden.ml-1.sm:block= "#{ pluralize_without_count(@q.result.size, 'Match')}"
      .sort-by-options
        .sort-by-capacity.sort-by-link
          -# = sort_link(@q, :room_number) do
          = link_to  root_path do
            Capacity
            %i.fas.fa-chevron-down

        .sort-by-buidling-name.sort-by-link
          = link_to  root_path do
            Building
            %i.fas.fa-chevron-down

        .sort-by-room-number.sort-by-link

          = link_to  root_path do
            Room number
            %i.fas.fa-chevron-down
