- content_for :head do
  %link{href: "https://cdn.jsdelivr.net/npm/choices.js@9.0.1/public/assets/styles/choices.min.css", rel: "stylesheet"}

.search-filters-2
  = search_form_for @q, data: { controller: "autosubmit toggle" , target: "autosubmit.form", action: "ajax:success->autosubmit#success ajax:error->autosubmit#error" }, remote: true do |f|

    .search-filters-containers
      -# = render './search/search_input', locals: f: f, cached: true
      .classrooms-page-header
        .flex-1.min-w-0
          %h2
            Search for Classrooms
      .search-for-buildings-container
        %label.filters-section-header-building{for: "building_name"} Buildings
        .flex.mt-1.shadow-sm
          .relative.flex-grow{class: "focus-within:z-10"}
            .absolute.inset-y-0.left-0.flex.items-center.pl-3.pointer-events-none
              %svg.w-5.h-5.text-gray-400{fill: "currentColor", viewbox: "0 0 20 20"}
                %path{d: "M8 4C5.79086 4 4 5.79086 4 8C4 10.2091 5.79086 12 8 12C10.2091 12 12 10.2091 12 8C12 5.79086 10.2091 4 8 4ZM2 8C2 4.68629 4.68629 2 8 2C11.3137 2 14 4.68629 14 8C14 9.29583 13.5892 10.4957 12.8907 11.4765L17.7071 16.2929C18.0976 16.6834 18.0976 17.3166 17.7071 17.7071C17.3166 18.0976 16.6834 18.0976 16.2929 17.7071L11.4765 12.8907C10.4957 13.5892 9.29583 14 8 14C4.68629 14 2 11.3137 2 8Z"}
            -# %input#buidling_name.block.w-full.pl-10.transition.duration-150.ease-in-out.rounded-none.form-input.rounded-l-md.sm:text-sm.sm:leading-5{placeholder: "Building Name"}/
            .search-by-building-name#buidling_name{class: "block w-full  transition duration-150 ease-in-out rounded-none form-input py-0 rounded-l-md sm:text-sm sm:leading-5 "}
              .h-8= f.select :facility_code_heprod_or_room_number_or_building_name_or_building_nick_name_or_building_abbreviation_in, @searchable_buildings.collect{ |building| [building[0].titleize, building[1] ] }, {}, {multiple: true, data: {controller: "choices", target: "choices.choice", action: "autosubmit#change"}}
          - if current_user
            %button.search-filters-button{class: "", data: {action: "click->toggle#toggle touch->toggle#toggle"}}
              %span.ml-2.text-gray-600
                .additional-filters-button
                  %svg{:viewbox => "0 0 512 512", :xmlns => "http://www.w3.org/2000/svg", data: {target: "toggle.toggleable" } }
                    %path{:d => "M504 384H192v-40c0-13.3-10.7-24-24-24h-48c-13.3 0-24 10.7-24 24v40H8c-4.4 0-8 3.6-8 8v16c0 4.4 3.6 8 8 8h88v40c0 13.3 10.7 24 24 24h48c13.3 0 24-10.7 24-24v-40h312c4.4 0 8-3.6 8-8v-16c0-4.4-3.6-8-8-8zm-344 64h-32v-96h32v96zM504 96H256V56c0-13.3-10.7-24-24-24h-48c-13.3 0-24 10.7-24 24v40H8c-4.4 0-8 3.6-8 8v16c0 4.4 3.6 8 8 8h152v40c0 13.3 10.7 24 24 24h48c13.3 0 24-10.7 24-24v-40h248c4.4 0 8-3.6 8-8v-16c0-4.4-3.6-8-8-8zm-280 64h-32V64h32v96zm280 80h-88v-40c0-13.3-10.7-24-24-24h-48c-13.3 0-24 10.7-24 24v40H8c-4.4 0-8 3.6-8 8v16c0 4.4 3.6 8 8 8h312v40c0 13.3 10.7 24 24 24h48c13.3 0 24-10.7 24-24v-40h88c4.4 0 8-3.6 8-8v-16c0-4.4-3.6-8-8-8zm-120 64h-32v-96h32v96z"}

                  %svg.hidden{:viewbox => "0 0 512 512", :xmlns => "http://www.w3.org/2000/svg", data: {target: "toggle.toggleable" }}
                    %path{:d => "M160 168v-48c0-13.3-10.7-24-24-24H96V8c0-4.4-3.6-8-8-8H72c-4.4 0-8 3.6-8 8v88H24c-13.3 0-24 10.7-24 24v48c0 13.3 10.7 24 24 24h40v312c0 4.4 3.6 8 8 8h16c4.4 0 8-3.6 8-8V192h40c13.3 0 24-10.7 24-24zm-32-8H32v-32h96v32zm152 160h-40V8c0-4.4-3.6-8-8-8h-16c-4.4 0-8 3.6-8 8v312h-40c-13.3 0-24 10.7-24 24v48c0 13.3 10.7 24 24 24h40v88c0 4.4 3.6 8 8 8h16c4.4 0 8-3.6 8-8v-88h40c13.3 0 24-10.7 24-24v-48c0-13.3-10.7-24-24-24zm-8 64h-96v-32h96v32zm152-224h-40V8c0-4.4-3.6-8-8-8h-16c-4.4 0-8 3.6-8 8v152h-40c-13.3 0-24 10.7-24 24v48c0 13.3 10.7 24 24 24h40v248c0 4.4 3.6 8 8 8h16c4.4 0 8-3.6 8-8V256h40c13.3 0 24-10.7 24-24v-48c0-13.3-10.7-24-24-24zm-8 64h-96v-32h96v32z"}
                  %div{class: "xl:hidden"} Filters

          - else
            %button.search-filters-button
              %span.ml-2
                = f.submit "Search"

      = render './search/search_result_tools', cached: true
    - if current_user
      .filters-container.hidden{data: {target: "toggle.toggleable" }}
        .capacaity-college
          .filter-by-capacity{data: { controller: "capacity-slider", "capacity-slider-minimum" => "#{capacity_slider_minimum}", "capacity-slider-maximum" => "#{capacity_slider_maximum}" }}
            .capacity-sliders.tooltip.tooltip-capacity-top{data: {tooltip: "Only show rooms with a capacity between #{capacity_slider_minimum} and #{capacity_slider_maximum}" }}
              .filters-section-header.mb-4 Student Capacity

              #slider{data: { action:  "click->capacity-slider#updateSlider click->autosubmit#change", target: "capacity-slider.slider"}}

              = f.hidden_field :instructional_seating_count_gteq, {value: "#{capacity_slider_minimum}", data: {target: "capacity-slider.minimum" }, id: 'seating-capacity--min'}
              = f.hidden_field :instructional_seating_count_lteq, {value: "#{capacity_slider_maximum}", data: {target: "capacity-slider.maximum" }, id: 'seating-capacity--max'}

          .filter-by-school-or-college
            %span.filters-section-header School or College
            .ss-search-input-container

              .search-input
                = f.select :dept_grp_in, [['Placeholder', ''],['Academic and Budget Affairs', 'ACAD_&_BDGT_AFFAIRS'],['College of LSA','COLLEGE_OF_LSA'], ['College of Pharmacy','COLLEGE_PHARMACY'], ['Ford School of Public Policy', 'SCHOOL_PUB_POLICY'],['Law School', 'LAW_SCHOOL'], ['Museum of Art', 'VP_ACAD_GRAD_STUDY'],['Ross School of Business' ,'SCHOOL_BUS_ADMIN'], ['School of Dentistry', 'SCHOOL_DENTISTRY'],['School of Education', 'SCHOOL_EDUCATION'], ['School of Information', 'SCHOOL_INFORMATION'], ['School of Kinesiology', 'SCHOOL_KINESIOLOGY'],['School for Environment and Sustainability','SCHOOL_NAT_RES_ENVIR'],['School of Nursing','SCHOOL_NURSING'], ['School of Music, Theatre and Dance','SCHOOL_MUSIC'], ['School of Public Health', 'SCHOOL_PUB_HEALTH'],['School of Social Work', 'SCHOOL_SOCIAL_WORK']], {}, {multiple: true, data: {controller: "choices", target: "choices.choice", action: "autosubmit#change"}}
              %button{type: "submit"}
                = render "icons/graduation-cap_icon", cached: true

        .classroom-amenities
          %span.filters-section-header Amenities
          .characteristics-arrangement

            .filter-item-label
              = check_box_tag "instructor_computer", :instructor_computer, params[:instructor_computer].try(:include?, 'instructor_computer'),  {class: 'form-checkbox', data: { action: "autosubmit#checkboxSubmit"} }
              %span Instrutor Computer

            .filter-item-label
              = check_box_tag "doccam", :doccam, params[:doccam].try(:include?, 'doccam'),  {class: 'form-checkbox', data: { action: "autosubmit#checkboxSubmit"} }
              %span Document Camera

            .filter-item-label
              = check_box_tag "lecture_capture", :lecture_capture, params[:lecture_capture].try(:include?, 'lecture_capture'),  {class: 'form-checkbox', data: { action: "autosubmit#checkboxSubmit"} }
              %span Lecture Capture

            .filter-item-label
              = check_box_tag "video_conf", :video_conf, params[:video_conf].try(:include?, 'video_conf'),  {class: 'form-checkbox', data: { action: "autosubmit#checkboxSubmit"} }
              %span Video Conferencing

            .filter-item-label
              = check_box_tag "interactive_screen", :interactive_screen, params[:interactive_screen].try(:include?, 'interactive_screen'),  {class: 'form-checkbox', data: { action: "autosubmit#checkboxSubmit"} }
              %span Interactive Screen

            .filter-item-label
              = check_box_tag "bluray", :bluray, params[:bluray].try(:include?, 'bluray'),  {class: 'form-checkbox', data: { action: "autosubmit#checkboxSubmit"} }
              %span{:class => "sm:w-full"} BluRay / DVD Player

        -# .stacked-filters
        .classroom-type
          %span.filters-section-header Team Learning
          .characteristics-arrangement

            .filter-item-label

              = check_box_tag "team_board", :team_board, params[:team_board].try(:include?, 'team_board'),  {class: 'form-checkbox', data: { action: "autosubmit#checkboxSubmit"} }
              %span Team Board

            .filter-item-label
              = check_box_tag "team_tables", :team_tables, params[:team_tables].try(:include?, 'team_tables'),  {class: 'form-checkbox', data: { action: "autosubmit#checkboxSubmit"} }
              %span Team Tables

            .filter-item-label
              = check_box_tag "team_technology", :team_technology, params[:team_technology].try(:include?, 'team_technology'),  {class: 'form-checkbox', data: { action: "autosubmit#checkboxSubmit"} }
              %span Team Technology

        .writing-surface
          %span.filters-section-header Writing Surface
          .characteristics-arrangement{:class => "sm:w-full "}
            .filter-item-label
              = check_box_tag "whiteboard", :whiteboard, params[:whiteboard].try(:include?, 'whiteboard'),  {class: 'form-checkbox', data: { action: "autosubmit#checkboxSubmit"} }
              %span Whiteboard

            .filter-item-label
              = check_box_tag "chalkboard", :chalkboard, params[:chalkboard].try(:include?, 'chalkboard'),  {class: 'form-checkbox', data: { action: "autosubmit#checkboxSubmit"} }
              %span Chalkboard
        %div{:class => "flex flex-col inline-block "}
          .projection-type
            %span.filters-section-header Projection
            .characteristics-arrangement
              .filter-item-label
                = check_box_tag "projector_35mm", :projector_35mm, params[:projector_35mm].try(:include?, 'projector_35mm'),  {class: 'form-checkbox', data: { action: "autosubmit#checkboxSubmit"} }
                %span 35mm Film

              .filter-item-label
                = check_box_tag "projector_digital_cinema", :projector_digital_cinema, params[:projector_digital_cinema].try(:include?, 'projector_digital_cinema'),  {class: 'form-checkbox', data: { action: "autosubmit#checkboxSubmit"} }
                %span Digital Cinema (DCP)

              .filter-item-label
                = check_box_tag "projector_digial", :projector_digial, params[:projector_digial].try(:include?, 'projector_digial'),  {class: 'form-checkbox', data: { action: "autosubmit#checkboxSubmit"} }
                %span Digital Data & Video

              .filter-item-label
                = check_box_tag "projector_slide", :projector_slide, params[:projector_slide].try(:include?, 'projector_slide'),  {class: 'form-checkbox', data: { action: "autosubmit#checkboxSubmit"} }
                %span Slide Projector
