= search_form_for @q, data: { controller: "autosubmit", target: "autosubmit.form", action: "ajax:success->autosubmit#success ajax:error->autosubmit#error" }, remote: true do |f|
  %section.search-filters
    .flex.justify-between.px-4.py-3.max-w-xl
      .relative.w-full

        .absolute.inset-y-0.left-0.flex.items-center.pl-3
          %svg.h-6.w-6.fill-current.text-gray-600{:fill => "none", :viewbox => "0 0 24 24", :xmlns => "http://www.w3.org/2000/svg"}
            %path{:d => "M16.32 14.9l1.1 1.1c.4-.02.83.13 1.14.44l3 3a1.5 1.5 0 0 1-2.12 2.12l-3-3a1.5 1.5 0 0 1-.44-1.14l-1.1-1.1a8 8 0 1 1 1.41-1.41l.01-.01zM10 16a6 6 0 1 0 0-12 6 6 0 0 0 0 12z"}

        = f.search_field :facility_code_heprod_or_room_number_or_building_name_or_building_nick_name_or_building_abbreviation_cont, class: 'search-input rounded-l-lg rounded-r-none', "aria-describedby" => "Search by building name or nick name", "aria-label" => "Search by building name or nick name", :placeholder => "Search by building name or nick name", :type => "text", data: { action: "keyup->autosubmit#save" }

      .search-form--button
        %button Search
      %span.text-muted{"data-target" => "autosubmit.status"}

      - if current_user
        .filters-button{"data-action" => "click->toggle#filtertoggle"}
          %svg.h-6.w-6.fill-current.text-gray-500{:viewbox => "0 0 512 512", :xmlns => "http://www.w3.org/2000/svg", "data-target" => "toggle.filters" }
            %path{:d => "M504 384H192v-40c0-13.3-10.7-24-24-24h-48c-13.3 0-24 10.7-24 24v40H8c-4.4 0-8 3.6-8 8v16c0 4.4 3.6 8 8 8h88v40c0 13.3 10.7 24 24 24h48c13.3 0 24-10.7 24-24v-40h312c4.4 0 8-3.6 8-8v-16c0-4.4-3.6-8-8-8zm-344 64h-32v-96h32v96zM504 96H256V56c0-13.3-10.7-24-24-24h-48c-13.3 0-24 10.7-24 24v40H8c-4.4 0-8 3.6-8 8v16c0 4.4 3.6 8 8 8h152v40c0 13.3 10.7 24 24 24h48c13.3 0 24-10.7 24-24v-40h248c4.4 0 8-3.6 8-8v-16c0-4.4-3.6-8-8-8zm-280 64h-32V64h32v96zm280 80h-88v-40c0-13.3-10.7-24-24-24h-48c-13.3 0-24 10.7-24 24v40H8c-4.4 0-8 3.6-8 8v16c0 4.4 3.6 8 8 8h312v40c0 13.3 10.7 24 24 24h48c13.3 0 24-10.7 24-24v-40h88c4.4 0 8-3.6 8-8v-16c0-4.4-3.6-8-8-8zm-120 64h-32v-96h32v96z"}

          %svg.h-6.w-6.fill-current.text-gray-500.hidden{:viewbox => "0 0 512 512", :xmlns => "http://www.w3.org/2000/svg", "data-target" => "toggle.filters"}
            %path{:d => "M160 168v-48c0-13.3-10.7-24-24-24H96V8c0-4.4-3.6-8-8-8H72c-4.4 0-8 3.6-8 8v88H24c-13.3 0-24 10.7-24 24v48c0 13.3 10.7 24 24 24h40v312c0 4.4 3.6 8 8 8h16c4.4 0 8-3.6 8-8V192h40c13.3 0 24-10.7 24-24zm-32-8H32v-32h96v32zm152 160h-40V8c0-4.4-3.6-8-8-8h-16c-4.4 0-8 3.6-8 8v312h-40c-13.3 0-24 10.7-24 24v48c0 13.3 10.7 24 24 24h40v88c0 4.4 3.6 8 8 8h16c4.4 0 8-3.6 8-8v-88h40c13.3 0 24-10.7 24-24v-48c0-13.3-10.7-24-24-24zm-8 64h-96v-32h96v32zm152-224h-40V8c0-4.4-3.6-8-8-8h-16c-4.4 0-8 3.6-8 8v152h-40c-13.3 0-24 10.7-24 24v48c0 13.3 10.7 24 24 24h40v248c0 4.4 3.6 8 8 8h16c4.4 0 8-3.6 8-8V256h40c13.3 0 24-10.7 24-24v-48c0-13.3-10.7-24-24-24zm-8 64h-96v-32h96v32z"}

          %span.ml-2 Filters

    .filter-tools
      .search-results#rooms-search-matches.inline-flex
        = @results.size
        .hidden.ml-1.sm:block= "#{ pluralize_without_count(@results.size, 'Match')}"
      .sort-by-options
        Sort:
        .sort-by-capacity.sort-by-link
          = sort_link(@q, :instructional_seating_count) do
            Capacity

        .sort-by-room-number.sort-by-link
          = sort_link(@q, :room_number) do
            Room number

    .filters-dropdown.hidden{ "data-target" => "toggle.filters" }
      .filters-container

        .px-4.py-4.border-t.border-gray-900.xl:border-t-0
          .flex.flex-wrap.-mx-2

            -# %label.block.px-2{:class => "w-1/2 lg:w-full"}
              %span.filters-section-header.mb-4 Campus
              %select.form-select.mb-4.department-multiselect
                %option Ann Arbor Central Campus
                %option Ann Arbor North Campus
                %option Dearborn Campus
                %option Flint Campus

            %label.block.px-2{:class => "w-1/2 lg:w-full"}
              %span.filters-section-header School or College

              = f.select :dept_grp_eq, [['All Schools & Colleges',''],['Academic and Budget Affairs', 'ACAD_&_BDGT_AFFAIRS'],['College of LSA','COLLEGE_OF_LSA'], ['College of Pharmacy','COLLEGE_PHARMACY'], ['Ford School of Public Policy', 'SCHOOL_PUB_POLICY'],['Law School', 'LAW_SCHOOL'], ['Museum of Art', 'VP_ACAD_GRAD_STUDY'],['Ross School of Business' ,'SCHOOL_BUS_ADMIN'], ['School of Dentistry', 'SCHOOL_DENTISTRY'],['School of Education', 'SCHOOL_EDUCATION'], ['School of Information', 'SCHOOL_INFORMATION'], ['School of Kinesiology', 'SCHOOL_KINESIOLOGY'],['School for Environment and Sustainability','SCHOOL_NAT_RES_ENVIR'],['School of Nursing','SCHOOL_NURSING'], ['School of Music, Theatre and Dance','SCHOOL_MUSIC'], ['School of Public Health', 'SCHOOL_PUB_HEALTH'],['School of Social Work', 'SCHOOL_SOCIAL_WORK']], {}, {class: "form-select xl:w-full"}

            .capacity-slider.tooltip.tooltip-capacity-top{"data-tooltip" => "Only show rooms with a capacity between X and Y"}
              .filters-section-header.mb-4 Student Capacity

              #slider
              = f.hidden_field :instructional_seating_count_gteq, :id => "minimum-capacity"
              = f.hidden_field :instructional_seating_count_lteq, :id => "maximum-capacity"

              -# #reset-slider
                Reset

        .classroom-amenities
          %span.filters-section-header Amenities
          .characteristics-arrangement

            .filter-item-label
              = check_box_tag('q[rooms_with_all_characteristics][]', ['InstrComp'], is_checked?("InstrComp"), {class: ' form-checkbox', "data-action" => "click->toggle#instructor_computer_checkboxtoggle", "data-remote" => "true" })
              = check_box_tag('q[rooms_with_all_characteristics][]', [ 'CompPodPC'], is_checked?("CompPodPC"), {class: ' form-checkbox hidden', "data-target" => "toggle.instructor_computer_checkbox" })
              = check_box_tag('q[rooms_with_all_characteristics][]', [ 'CompPodMac'], is_checked?("CompPodMac"), {class: ' form-checkbox hidden', "data-target" => "toggle.instructor_computer_checkbox"})
              %span Instructor Computer

            .filter-item-label
              = check_box_tag('q[rooms_with_all_characteristics][]', "DocCam", is_checked?("DocCam"), {class: 'form-checkbox', data: { action: "input->autosubmit#click"} })
              %span Document Camera

            .filter-item-label
              = check_box_tag('q[rooms_with_all_characteristics][]', "LectureCap", is_checked?("LectureCap"), {class: 'form-checkbox', "data-remote" => "true" })
              %span Lecture Capture

            .filter-item-label
              = check_box_tag('q[rooms_with_all_characteristics][]', "VideoConf", is_checked?("VideoConf"), {class: 'form-checkbox', "data-remote" => "true" })
              %span Video Conferencing

            .filter-item-label
              = check_box_tag('q[rooms_with_all_characteristics][]', "IntrScreen", is_checked?("IntrScreen"), {class: 'form-checkbox', "data-remote" => "true" })
              %span Interactive Screen


            .filter-item-label{}
              = check_box_tag('q[rooms_with_all_characteristics][]', "BluRay", is_checked?("BluRay"), {class: 'form-checkbox', "data-remote" => "true" })
              %span{:class => "sm:w-full"} BluRay / DVD Player


        .classroom-type
          %span.filters-section-header Team Learning
          .characteristics-arrangement

            .filter-item-label
              = check_box_tag('q[rooms_with_all_characteristics][]', "TeamBoard", is_checked?("TeamBoard"), {class: 'form-checkbox', "data-remote" => "true" })
              %span Team Board

            .filter-item-label
              = check_box_tag('q[rooms_with_all_characteristics][]', "TeamTables", is_checked?("TeamTables"), {class: 'form-checkbox', "data-remote" => "true" })
              %span Team Tables

            .filter-item-label
              = check_box_tag('q[rooms_with_all_characteristics][]', "TeamTech", is_checked?("TeamTech"), {class: 'form-checkbox', "data-remote" => "true" })
              %span Team Technology

        %div{:class => "flex flex-col inline-block lg:border-l lg:border-blue-900 xl:border-l-0"}
          .writing-surface{:class => "w-full"}
            %span.filters-section-header Writing Surface
            .characteristics-arrangement{:class => "sm:w-full "}
              .filter-item-label
                = check_box_tag('q[room_characteristics_chrstc_descrshort__matches_all][]', "Whtbrd", is_checked?("Whtbrd"), {class: 'form-checkbox', "data-remote" => "true"  })
                %span Whiteboard

              .filter-item-label
                = check_box_tag('q[room_characteristics_chrstc_descrshort__matches_all][]', "Chkbrd", is_checked?("Chkbrd"), {class: 'form-checkbox', "data-action" => "click->toggle#chalkboard_checkboxtoggle", "data-remote" => "true" })

                = check_box_tag('q[room_characteristics_chrstc_descrshort_eq_any][]', [ 'Chkbrd>25'], is_checked?("Chkbrd>25"), {class: ' form-checkbox hidden', "data-target" => "toggle.chalkboard_checkbox", "data-remote" => "true" })
                %span Chalkboard

          .projection-type
            %span.filters-section-header Projection
            .characteristics-arrangement
              .filter-item-label
                = check_box_tag('q[rooms_with_all_characteristics][]', "Proj35mm", is_checked?("Proj35mm"), {class: 'form-checkbox', "data-remote" => "true"  })
                %span 35mm Film

              .filter-item-label
                = check_box_tag('q[rooms_with_all_characteristics][]', "ProjD-Cin", is_checked?("ProjD-Cin"), {class: 'form-checkbox', "data-remote" => "true"  })
                %span Digital Cinema (DCP)

              .filter-item-label
                = check_box_tag('q[rooms_with_all_characteristics][]', "ProjDigit", is_checked?("ProjDigit"), {class: 'form-checkbox', "data-remote" => "true"  })
                %span Digital Data & Video

              .filter-item-label
                = check_box_tag('q[rooms_with_all_characteristics][]', "ProjSlide", is_checked?("ProjSlide"), {class: 'form-checkbox', "data-remote" => "true"  })
                %span Slide Projector

      .submit-search
        - if params[:q]
          .clear-filters= clear_filter
        = f.submit "Apply Filters"
