%header.bg-blue-900.sm:flex.sm:items-center.sm:justify-between
  .flex.justify-between.px-4.py-3.xl:w-72.xl:justify-center.xl:py-5
    %div
      = link_to root_path, class: '' do
        = image_tag(asset_pack_path('media/mi_locations/images/MiLocationsNamePlate.svg'), alt: 'MiLocations Logo, link to home page.', class: 'header-logo')

    .flex.sm:hidden
      %button{:type => "button", class: "px-2 text-gray-500 hover:text-white focus:outline-none focus:text-white sm:hidden", "data-action" => "toggle#toggle" }

        %svg.h-6.w-6.fill-current{:viewbox => "0 0 512 512", :xmlns => "http://www.w3.org/2000/svg", "data-target" => "toggle.mainnav"}
          %path{:d => "M436 124H12c-6.627 0-12-5.373-12-12V80c0-6.627 5.373-12 12-12h424c6.627 0 12 5.373 12 12v32c0 6.627-5.373 12-12 12zm0 160H12c-6.627 0-12-5.373-12-12v-32c0-6.627 5.373-12 12-12h424c6.627 0 12 5.373 12 12v32c0 6.627-5.373 12-12 12zm0 160H12c-6.627 0-12-5.373-12-12v-32c0-6.627 5.373-12 12-12h424c6.627 0 12 5.373 12 12v32c0 6.627-5.373 12-12 12z"}

        %svg.h-6.w-6.fill-current.hidden{:viewbox => "0 0 320 512", :xmlns => "http://www.w3.org/2000/svg", "data-target" => "toggle.mainnav"}
          %path{:d => "M207.6 256l107.72-107.72c6.23-6.23 6.23-16.34 0-22.58l-25.03-25.03c-6.23-6.23-16.34-6.23-22.58 0L160 208.4 52.28 100.68c-6.23-6.23-16.34-6.23-22.58 0L4.68 125.7c-6.23 6.23-6.23 16.34 0 22.58L112.4 256 4.68 363.72c-6.23 6.23-6.23 16.34 0 22.58l25.03 25.03c6.23 6.23 16.34 6.23 22.58 0L160 303.6l107.72 107.72c6.23 6.23 16.34 6.23 22.58 0l25.03-25.03c6.23-6.23 6.23-16.34 0-22.58L207.6 256z"}

  %nav{:class => "sm:flex text-white sm:items-center sm:px-4 xl:flex xl:justify-end hidden xl:relative xl:max-w-lg xl:w-full", "data-target" => "toggle.mainnav"}
    .header-links
      .header-link
        = link_to "About Us", about_path
      .header-link
        = link_to "Buildings", buildings_path
      .header-link
        = link_to "Classrooms", rooms_path

    .px-5.py-5.sm:py-0.sm:ml-4.sm:px-0.sm:justify-end
      .flex.items-center
        %img.h-10.w-10.object-cover.rounded-full.border-2.border-gray-600.sm:h-8.sm:w-8.xl:border-gray-300{:alt => "User Photo", :src => "https://images.unsplash.com/photo-1487412720507-e7ab37603c6f?ixlib=rb-1.2.1=eyJhcHBfaWQiOjEyMDd9=format=crop=256=80"}

          %span.ml-4.font-semibold.text-gray-200.sm:hidden Guest User

      .mt-5.sm:hidden
        %a.block.text-gray-400.hover:text-white{:href => "#"} Account settings
        %a.mt-3.block.text-gray-400.hover:text-white{:href => "#"} Support
        %a.mt-3.block.text-gray-400.hover:text-white{:href => "#"} Sign out