
.entrance-hallway{data: {controller: "modal", "modal-allow-background-close" => "false" }}
  = render partial: 'pano_modal', locals: {pano:  "1_entrance_hall", pano_description: "Main Entrance"}

.meeting-room{data: {controller: "modal", "modal-allow-background-close" => "false" }}
  = render partial: 'pano_modal', locals: {pano:  "2_meeting_room", pano_description: "Meeting Room"}

.huddle-room-3{data: {controller: "modal", "modal-allow-background-close" => "false" }}
  = render partial: 'pano_modal', locals: {pano:  "3_huddle_room", pano_description: "Huddle Room"}

.huddle-room-6{data: {controller: "modal", "modal-allow-background-close" => "false" }}
  = render partial: 'pano_modal', locals: {pano:  "6_huddle_room", pano_description: "Huddle Room"}

.phone-booth-4{data: {controller: "modal", "modal-allow-background-close" => "false" }}
  = render partial: 'pano_modal', locals: {pano:  "4_phone_booth", pano_description: "_"}

.phone-booth-8{data: {controller: "modal", "modal-allow-background-close" => "false" }}
  = render partial: 'pano_modal', locals: {pano:  "8_phone_booth", pano_description: "Phone Booth"}

.hallway-5{data: {controller: "modal", "modal-allow-background-close" => "false" }}
  = render partial: 'pano_modal', locals: {pano:  "5_hallway", pano_description: "Hallway"}

.hallway-7{data: {controller: "modal", "modal-allow-background-close" => "false" }}
  = render partial: 'pano_modal', locals: {pano:  "7_hallway", pano_description: "Hallway"}

.collab-space-9{data: {controller: "modal", "modal-allow-background-close" => "false" }}
  = render partial: 'pano_modal', locals: {pano:  "9_collab_space", pano_description: "Collab Space"}

.unassigned-seating-11{data: {controller: "modal", "modal-allow-background-close" => "false" }}
  = render partial: 'pano_modal', locals: {pano:  "11_unassigned_seating", pano_description: "Unassigned Seating"}

.unassigned-seating-13{data: {controller: "modal", "modal-allow-background-close" => "false" }}
  = render partial: 'pano_modal', locals: {pano:  "13_unassigned_seating", pano_description: "Unassigned Seating"}

.cubicles-12{data: {controller: "modal", "modal-allow-background-close" => "false" }}
  = render partial: 'pano_modal', locals: {pano:  "12_cubicles", pano_description: "Cubicles"}

.cubicles-14{data: {controller: "modal", "modal-allow-background-close" => "false" }}
  = render partial: 'pano_modal', locals: {pano:  "14_cubicles", pano_description: "Cubicles"}

.cubicles-15{data: {controller: "modal", "modal-allow-background-close" => "false" }}
  = render partial: 'pano_modal', locals: {pano:  "15_cubicles", pano_description: "Cubicles"}

.cubicles-16{data: {controller: "modal", "modal-allow-background-close" => "false" }}
  = render partial: 'pano_modal', locals: {pano:  "16_cubicles", pano_description: "Cubicles"}

.situation-room-17{data: {controller: "modal", "modal-allow-background-close" => "false" }}
  = render partial: 'pano_modal', locals: {pano:  "17_situation_room", pano_description: "Situation Room"}

.copy-room-18{data: {controller: "modal", "modal-allow-background-close" => "false" }}
  = render partial: 'pano_modal', locals: {pano:  "18_copy_room", pano_description: "Copy Room"}

.kitchen-19{data: {controller: "modal", "modal-allow-background-close" => "false" }}
  = render partial: 'pano_modal', locals: {pano:  "19_kitchen", pano_description: "Kitchen"}

.kitchen-21{data: {controller: "modal", "modal-allow-background-close" => "false" }}
  = render partial: 'pano_modal', locals: {pano:  "21_kitchen", pano_description: "Kitchen"}

.hallway-22{data: {controller: "modal", "modal-allow-background-close" => "false" }}
  = render partial: 'pano_modal', locals: {pano:  "22_hallway", pano_description: "Hallway"}

.hallway-23{data: {controller: "modal", "modal-allow-background-close" => "false" }}
  = render partial: 'pano_modal', locals: {pano:  "23_hallway", pano_description: "Hallway"}

.pat-office-24{data: {controller: "modal", "modal-allow-background-close" => "false" }}
  = render partial: 'pano_modal', locals: {pano:  "24_pats_office", pano_description: "Pat's Office"}

.training-room-25{data: {controller: "modal", "modal-allow-background-close" => "false" }}
  = render partial: 'pano_modal', locals: {pano:  "25_training_room", pano_description: "Training Room"}

.hallway-26{data: {controller: "modal", "modal-allow-background-close" => "false" }}
  = render partial: 'pano_modal', locals: {pano:  "26_hallway", pano_description: "Hallway"}

.balcony-27{data: {controller: "modal", "modal-allow-background-close" => "false" }}
  = render partial: 'pano_modal', locals: {pano:  "27_balcony", pano_description: "Balcony"}
