- content_for :head do
  %link{href: "https://cdn.jsdelivr.net/npm/choices.js@9.0.1/public/assets/styles/choices.min.css", rel: "stylesheet"}
:css
  .header { background: none;}
  .header-logo { display: none;}

%section
  .hero-image
    /! Promo Block Info
    .landing-page--banner
      .landing-page--brand
        = link_to image_tag(asset_pack_path('media/mi_locations/images/MiLocationsNamePlate.svg'), class: '', alt: 'MiLocations Logo, link to home page.'), root_path

      %h1.landing-page-headline Classroom Database

    %search
      = search_form_for @q, local: true do |f|
        .search-form.search-form-bg

        .filter-by-building.w-screen.max-w-5xl.mx-auto
          -# %span.filters-section-header Filter by Buildings
          .search-field-container.self-center.justify-center.text-center
            .search-field-icon.relative
              .search-field-svg
                %svg.h-4.w-4.fill-current.text-blue-100.z-50{viewbox: "0 0 448 512", xmlns: "http://www.w3.org/2000/svg"}
                  %path{d: "M436 480h-20V24c0-13.255-10.745-24-24-24H56C42.745 0 32 10.745 32 24v456H12c-6.627 0-12 5.373-12 12v20h448v-20c0-6.627-5.373-12-12-12zM128 76c0-6.627 5.373-12 12-12h40c6.627 0 12 5.373 12 12v40c0 6.627-5.373 12-12 12h-40c-6.627 0-12-5.373-12-12V76zm0 96c0-6.627 5.373-12 12-12h40c6.627 0 12 5.373 12 12v40c0 6.627-5.373 12-12 12h-40c-6.627 0-12-5.373-12-12v-40zm52 148h-40c-6.627 0-12-5.373-12-12v-40c0-6.627 5.373-12 12-12h40c6.627 0 12 5.373 12 12v40c0 6.627-5.373 12-12 12zm76 160h-64v-84c0-6.627 5.373-12 12-12h40c6.627 0 12 5.373 12 12v84zm64-172c0 6.627-5.373 12-12 12h-40c-6.627 0-12-5.373-12-12v-40c0-6.627 5.373-12 12-12h40c6.627 0 12 5.373 12 12v40zm0-96c0 6.627-5.373 12-12 12h-40c-6.627 0-12-5.373-12-12v-40c0-6.627 5.373-12 12-12h40c6.627 0 12 5.373 12 12v40zm0-96c0 6.627-5.373 12-12 12h-40c-6.627 0-12-5.373-12-12"}

              .search-input= f.select :facility_code_heprod_or_room_number_or_building_name_or_building_nick_name_or_building_abbreviation_in, @searchable_buildings.collect{ |building| [building[0].titleize, building[1] ] }, {}, {multiple: true, data: {controller: "choices", target: "choices.choice", action: "autosubmit#change"}}
            .landing-page-search-submit
              = f.submit "Submit"


%section.legacy-crdb
  %h1 NEW! MiLocations Classroom Database
  %p
    Welcome to the new MiLocations Classroom Database. This will be the replacement of the
    = link_to "legacy Classroom Databse system.", legacy_crdb_url
    During the rollout of the new Classroom Database additional features and functionality will be added. The legacy CRDB will be available during this period to ensure that existing functionality is available during the roll out and until we are confident all existing functionality has been transferred to the new application.