- content_for :head do
  %link{href: "https://cdn.jsdelivr.net/npm/choices.js@9.0.1/public/assets/styles/choices.min.css", rel: "stylesheet"}
:css
  .header { background: none;}
  .header-logo { display: none;}

%section.hero-image

  .landing-page-container
    /! Promo Block Info
    .landing-page--banner
      .landing-page--brand
        = link_to image_tag(asset_pack_path('media/mi_locations/images/MiLocationsNamePlate.svg'), alt: 'MiLocations Logo, link to home page.'), root_path

      %h1.landing-page-headline Classroom Database

    %search.ss-search
      %h1 Search for a classroom

      = search_form_for @q, class: "search-container", data: { controller: "autosubmit toggle" , target: "autosubmit.form", action: "ajax:success->autosubmit#success ajax:error->autosubmit#error" }, remote: true do |f|

        .filter-by.filter-by-building
          %label.block.text-sm.font-medium.leading-5.text-gray-700.sr-only{for: "building_name"}
            Filter by building name

          .filter-by-building-name#buidling_name
            = f.select :facility_code_heprod_or_room_number_or_building_name_or_building_nick_name_or_building_abbreviation_in, @searchable_buildings.collect{ |building| [building[0].titleize, building[1] ] }, {:prompt => 'Building Name'}, {multiple: true, data: {controller: "choices", target: "choices.choice", action: "autosubmit#change"}}

        .filter-by.filter-by-school-or-college-name#school_or_college_name
          %label.block.text-sm.font-medium.leading-5.text-gray-700.sr-only{for: "school_or_college_name"}
            Filter by school or college
          .filter-by-building-name#school_or_college_name
            = f.select :dept_grp_in, [['Academic and Budget Affairs', 'ACAD_&_BDGT_AFFAIRS'],['College of LSA','COLLEGE_OF_LSA'], ['College of Pharmacy','COLLEGE_PHARMACY'], ['Ford School of Public Policy', 'SCHOOL_PUB_POLICY'],['Law School', 'LAW_SCHOOL'], ['Museum of Art', 'VP_ACAD_GRAD_STUDY'],['Ross School of Business' ,'SCHOOL_BUS_ADMIN'], ['School of Dentistry', 'SCHOOL_DENTISTRY'],['School of Education', 'SCHOOL_EDUCATION'], ['School of Information', 'SCHOOL_INFORMATION'], ['School of Kinesiology', 'SCHOOL_KINESIOLOGY'],['School for Environment and Sustainability','SCHOOL_NAT_RES_ENVIR'],['School of Nursing','SCHOOL_NURSING'], ['School of Music, Theatre and Dance','SCHOOL_MUSIC'], ['School of Public Health', 'SCHOOL_PUB_HEALTH'],['School of Social Work', 'SCHOOL_SOCIAL_WORK']], {:prompt => 'School or College'}, {multiple: true, data: {controller: "choices", target: "choices.choice", action: "autosubmit#change"}}
          %span{data: {target: "autosubmit.status"}}



            -# %button.search-filters-button
            -#   %span.ml-2.text-gray-600
            -#     .additional-filters-button
            -#       %svg{viewbox: "0 0 512 512", xmlns: "http://www.w3.org/2000/svg"}
            -#         %path{d: "M505 442.7L405.3 343c-4.5-4.5-10.6-7-17-7H372c27.6-35.3 44-79.7 44-128C416 93.1 322.9 0 208 0S0 93.1 0 208s93.1 208 208 208c48.3 0 92.7-16.4 128-44v16.3c0 6.4 2.5 12.5 7 17l99.7 99.7c9.4 9.4 24.6 9.4 33.9 0l28.3-28.3c9.4-9.4 9.4-24.6.1-34zM208 336c-70.7 0-128-57.2-128-128 0-70.7 57.2-128 128-128 70.7 0 128 57.2 128 128 0 70.7-57.2 128-128 128z"}

            -#       %div{class: "mx-auto"} Search



    -# .landing-page-department-links-section
      %h1 Select a School or College
      .landing-page-department-links
        - Room.departments.each do |department|
          = link_to "#{rooms_path}?q%5Bdept_grp_in%5D=#{department[1]}" do
            .landing-page-department-link
              = "#{department[0]}"

    %section.legacy-crdb
      %h1 NEW! MiLocations Classroom Database
      %p
        Welcome to the new MiLocations Classroom Database. This will be the replacement of the
        = link_to "legacy Classroom Database system.", legacy_crdb_url
        During the rollout of the new Classroom Database additional features and functionality will be added. The
        = link_to " legacy Classroom Database system ", legacy_crdb_url
        will be available during this period to ensure that existing functionality is available during the roll out and until we are confident all existing functionality has been transferred to the new application.
