/ Promo Block
%section
  .hero-image

    .container.text-center
      / Promo Block Info
      .landing-page--banner
        %nav.nav.landing-page--brand.text-center
          = link_to image_tag(asset_pack_path('mi_locations/images/MiLocationsNamePlateBlue.png'), class: 'header-logo', alt: 'MiLocations Logo, link to home page.'), root_path
          -# = link_to('Locations', root_path, class: 'site-name', id: root_path(anchor: 'page-top') )
        %h1.headline - Classroom Database -

      / End Promo Block Info
      / Form Group


      = search_form_for @q do |f|
        .landing-page--search-bar

          .landing-page-search-group

            = f.search_field :name_or_nick_name_or_abbreviation_cont, class: 'landing-page-search-field', "aria-describedby" => "Search by building name or nick name", "aria-label" => "Search by building name or nick name", :placeholder => "Search by building name or nick name", :type => "text"
            .landing-page-search-button.-mr-px
              %span
                %i.fas.fa-search
                = f.submit class: 'SearchMe'

            -# .landing-page-search-button.-mr-px
            -#   %span
            -#     %i.fas.fa-search
            -#     = f.submit class: 'SearchMe'
                -# %i.fas.fa-search
                -# .px-2 'Search'
          .landing-page-search-dropdowns.pb-4

            = link_to(buildings_path, alt: 'Buildings Map') do
              %button.btn.btn-light{:type => "submit"}
                Filter by Buildings

            = link_to(classrooms_path,  alt: 'Classroom Search') do
              %button.btn.btn-light{:type => "submit"}
                Filter by School or College





          -# .buildings-search-field
          -#
          -#   = f.search_field :name_or_nick_name_or_abbreviation_cont, class: 'landing-page-search-field', "aria-describedby" => "Search by building name or nick name", "aria-label" => "Search by building name or nick name", :placeholder => "Search by building name or nick name", :type => "text"
          -#   .flex.-mr-px
          -#     %span.flex.items-center.leading-normal.bg-green.rounded.rounded-l-none.border.border-l-0.border-grey-light.px-3.whitespace-no-wrap.text-white.text-sm.h-10.-ml-2
          -#       %i.fas.fa-search
          -#       .px-2 submit
              -# .input-group-append
              -#   %button#button-addon2.btn.btn-success
              -#     %i.fas.fa-search
              -#       Submit
          -# %form
          -#   %input.form-control{:placeholder => "Search by building name or abbreviation", :type => "text"}



-# .container
-#   / Heading
-#   .text-center
-#     %h2.h1 Classroom Briefs
-#     %p Learn how to find the best room for your teaching needs.
-#   / End Heading
-#   .row
-#
-#     %article.col-md-4
-#       .article-card
-#         %img.img-fluid{:alt => "Image Description", :src => "http://placekitten.com/600/350"}/
-#
-#         %h3 Team Learning
-#         %p
-#           With Team Learning you can enhance the learning experience, increase accessability and improve pedagogical outcomes. The University of Michigan's College of Literature Science and Art has been at the forefront of the university's efforts to incorporate team learning approaches in more classes.
-#
-#
-#     %article.col-md-4
-#       .article-card
-#         %img.img-fluid{:alt => "Image Description", :src => "http://placekitten.com/600/350"}/
-#
-#         %h3 Updating MPathways
-#         %p
-#           Unify's Faculty of Graduate Studies is home to over 3500 students studying in
-#           = succeed "," do
-#             %a{:href => "page-programs-1.html"} over 160 graduate programs
-#       %a.btn.u-shadow-v39.g-color-white.g-color-white--hover.g-bg-main.g-bg-primary--hover{:href => "page-apply-1.html"} Start Your Application
-#
-#
-#     %article.col-md-4
-#       .article-card
-#         %img.img-fluid{:alt => "Image Description", :src => "http://placekitten.com/600/350"}/
-#
-#         %h3 Continuing Studies
-#         %p
-#           Take the next step on your journey with
-#           %a{:href => "#"} continuing studies
-#           and professional-development programs at Unify. Learn skills that will benefit your current job, or head down an entirely new career path.
-#
-#




-# .hero-image
-#   .hero-text
-#     %h1 Classroom Database
-#     %h3 Get a room
-#
-#   .row.flex-row.hero-nav
-#     .col-md-4
-#
-#       = link_to(buildings_path, alt: 'Buildings Map') do
-#         .hero-nav---map.rounded-circle.text-center
-#           -# Content defined in pages.sass
-#
-#
-#     .col-md-4
-#       = link_to(classrooms_path,  alt: 'Classroom Search') do
-#         .hero-nav---search.rounded-circle.text-center
-#           -# Content defined in pages.sass
-#
-#
-#     .col-md-4
-#       = link_to(about_path,  alt: 'About') do
-#         .hero-nav---about.rounded-circle.text-center
-#           -# Content defined in pages.sass
