.buildings-building-card

  .buildings-building-card-image{:style => "background-image: url('https://placekitten.com/640/360')", :title => "Building Name"}
  .buildings-building-card-image2
    .mb-8
      %p.text-base.text-gray-dark.items-center.m-2
        %i.far.fa-map
        / .buildings-building-card-address
        = building.address

      .text-black.font-bold.text-xl.mb-2
        = link_to "#{building.nick_name}", building
      %p.text-gray-700.text-base
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus quia, nulla! Maiores et perferendis eaque, exercitationem praesentium nihil.

    .buildings-building-card-info
      .flex.mb-4
        .buildings-building-card-learning-spaces

          / .buildings-building-card-classrooms-count
          /   %i.fas.fa-flask
          /   Classroom Labs :
          /   = building.classrooms_labs.count
          .buildings-building-card-team-learning-count
            %i.far.fa-handshake
            Team Learning :
            = building.team_learning_classrooms.count
          .buildings-building-card-classrooms-count
            %i.fas.fa-chalkboard-teacher
            Total Classrooms :
            = building.classrooms.count

        .buildings-building-card-buttons
          %button.buildings-card-button
            %i.fas.fa-map
            Map
          %button.buildings-card-button
            %i.fas.fa-map-marker-alt
            Directions
          %button.buildings-card-button
            %i.fas.fa-building
            Building Overview
          %button.buildings-card-button
            %i.fas.fa-address-card
            Building Contacts

          %button.buildings-card-button
            %i.fas.fa-calendar-alt
            Scheduling Information

-#     / .flex.items-center
-#       img.w-10.h-10.rounded-full.mr-4 alt=("Avatar of Jonathan Reinink") src="https://pbs.twimg.com/profile_images/885868801232961537/b1F6H4KC_400x400.jpg" /
-#       .text-sm
-#         p.text-black.leading-none Jonathan Reinink
-#         p.text-gray-dark Aug 18

-# /
-# / .max-w-md.w-full.lg:flex
-# /   .h-48.lg:h-auto.lg:w-48.flex-none.bg-cover.rounded-t.lg:rounded-t-none.lg:rounded-l.text-center.overflow-hidden{:style => "background-image: url('https://tailwindcss.com/img/card-left.jpg')", :title => "Woman holding a mug"}
-# /   .border-r.border-b.border-l.border-gray-100.lg:border-l-0.lg:border-t.lg:border-gray-100.bg-white.rounded-b.lg:rounded-b-none.lg:rounded-r.p-4.flex.flex-col.justify-between.leading-normal
-# /     .mb-8
-# /       %p.text-sm.text-gray-dark.flex.items-center
-# /         %svg.fill-current.text-gray.w-3.h-3.mr-2{:viewbox => "0 0 20 20", :xmlns => "http://www.w3.org/2000/svg"}
-# /           %path{:d => "M4 8V6a6 6 0 1 1 12 0v2h1a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2v-8c0-1.1.9-2 2-2h1zm5 6.73V17h2v-2.27a2 2 0 1 0-2 0zM7 6v2h6V6a3 3 0 0 0-6 0z"}
-# /         Members only
-# /       .text-black.font-bold.text-xl.mb-2 Can coffee make you a better developer?
-# /       %p.text-gray-700.text-base Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus quia, nulla! Maiores et perferendis eaque, exercitationem praesentium nihil.
-# /     .flex.items-center
-# /       %img.w-10.h-10.rounded-full.mr-4{:alt => "Avatar of Jonathan Reinink", :src => "https://pbs.twimg.com/profile_images/885868801232961537/b1F6H4KC_400x400.jpg"}/
-# /       .text-sm
-# /         %p.text-black.leading-none Jonathan Reinink
-# /         %p.text-gray-dark Aug 18
-# /
-# %/       -# %button.btn.clipboard-btn{"data-clipboard-text" => "#{room.room_number} #{building.nick_name} \nStudent Capacity: #{room.instructional_seating_count}\nCalendar Link: https://csprod.dsc.umich.edu/services/facilitycalendar?facilityid=#{room.facility_code_heprod }\nLocation: #{building.nick_name.titleize}, #{building.address.titleize}"}
-# /       -#   Copy to clipboard
