- content_for :head do
  %link{href: "https://cdn.jsdelivr.net/npm/choices.js@9.0.1/public/assets/styles/choices.min.css", rel: "stylesheet"}

.room-map.hidden{data: {controller: "map toggle", target: "toggle.roomsmap",
        "map-mapbox-token": "#{Rails.application.credentials.dig(:MI_LOCATIONS_OPENMAP_TOKEN)}" },
        "data-map-mapbox-location" => @rooms_json}
  #mapid

= search_form_for @q, class: "", data: { controller: "autosubmit toggle" , target: "autosubmit.form", action: "ajax:success->autosubmit#success ajax:error->autosubmit#error" }, remote: true do |f|




  %section.buildings-search-filters
    .buildings-page-header
      .flex-1.min-w-0
        %h2
          Filter Buildings
      .matches{class: "xl:hidden", data: {target: "autosubmit.status"}}
        -# #rooms-search-matches= matches(@results.size)

    .filter-by.filter-by-building
      %label.block.text-sm.font-medium.leading-5.text-gray-700.sr-only{for: "building_name"}
        Filter by building name

      .filter-by-building-name#buidling_name{"data-tippy-content" => "Filter by building name"}
        = f.select :name_or_nick_name_or_abbreviation_in, @searchable_buildings.collect{ |building| [building[0].titleize, building[1] ] }, {:prompt => 'Building Name'}, {multiple: true, data: {controller: "choices", target: "choices.choice", action: "autosubmit#change"}}

  -# = render 'buildings_results.html.haml'
  - if @pagy.count > 0
    .rooms-map-toggle{data: {action: "click->toggle#roomsmapToggle"} }
      .map{ data: {target: "toggle.roomsmap"} }
        %i.fas.fa-map
        .icon= render "icons/map-marked-alt_icon", cached: true
        Map
      .close-map.hidden{ data: {target: "toggle.roomsmap"} }

        %i.fas.fa-map
        .icon= render "icons/close_icon", cached: true
        Close