.buildings-results-map
  MAP

= search_form_for @q do |f|
  .buildings-search-bar
    .row.buildings-search-field
      .input-group.mt-1.mx-4
        = f.search_field :name_or_nick_name_or_abbreviation_cont, placeholder: 'Search...', class: 'form-control', "aria-describedby" => "Search for Buildings", "aria-label" => "Search for buildings", :placeholder => "Search", :type => "text"
        .input-group-append
          %button#button-addon2.btn.btn-success
            %i.fas.fa-search
            Submit
    .buildings-search-matches
      = "#{@q.result.count} Matches"

.buildings-results
  - @buildings.each do |building|
    .row
      = building.name
      = building.address
      = building.city
