.image-container
  .building-show-image{ "data-target" => "toggle.roommap" }
    = link_to @building do
      - if @building.building_image.attached?
        = image_tag(url_for(@building.building_image), alt: "#{@building.name.titleize} picture")
      - else
        = image_tag(asset_pack_path('media/mi_locations/images/vistas/Burton.jpg'), alt: "#{@building.name.titleize} image not available")

.building-name
  = @building.name
.building-address
  = @building.address
- if @building.building_image.attached?
  = image_tag @building.building_image, alt: "#{@building.name.titleize}"
.building-alerts
  = render partial: 'alerts/alerts', locals: {alertable: @building}
  - if policy(@building).update?
    = render partial: 'alerts/form', locals: {alertable: @building}
.flex.flex-row.justify-around
  .building-classrooms
    %h3= "Classrooms in #{@building.nick_name.titleize}"
    - @building.rooms.classrooms.each do |classroom|
      .classroom-link= link_to "#{classroom.room_number} #{classroom.building.nick_name.titleize} ", classroom


  .building-floors
    %i.fas.fa-layer-group
    %h3= "Floors in #{@building.name.titleize }"
    = render @building.floors
    - if policy(@building).update?

      %h3 Add a Floor
      %i.fas.fa-layer-plus
      = render partial: 'floors/form', locals: {building: @building}

      %h3 Add an Image
      = render partial: 'building_image_form', locals: {building: @building}
