p#notice= notice


%p

  %b Label:
  = @floor.label

%p
  %b Building:
  = @floor.building.name
  -# / = render 'buildings/floors/_USB_Floor_1'.html_safe

.building-floor-plan
  .building-floor-plan-svg
    = svg(@floor)


  .building-floor-plan-nav

    .building-floor-plan-name
      = @floor.label
      = @floor.building.name.titleize

    .building-floor-plan-building-info
      .building-floor-plan-building-image

        = image_tag @floor.floor_image, alt: "Floor Plan for #{@floor.label} #{@floor.building.name.titleize}"
        - if @floor.building.building_image.attached?
          = image_tag @floor.building.building_image

      .building-floor-plan-address
        = @floor.building.name.titleize
        = @floor.building.address.titleize

    .building-floor-plans-other-floors
      -# = @floor.building.floors
      = render @floor.building.floors
= link_to 'Edit', edit_building_floor_path(@floor)
|
= link_to 'Back', building_floors_path
