= link_to(room) do
  .media.pt-2.px-4.rooms-card.border.rounded
    .rooms-building-badge
      = image_tag("http://placekitten.com/150/150", alt: "Image for #{room.room_number} #{room.building.nick_name}",class: 'd-flex align-self-center mr-3')
      .rooms-building-address
        = "#{room.building.nick_name.titleize}"
        %br= room.building.address
    .media-body
      %h5.float-left
        = "#{room.room_number} #{room.building.nick_name}"

      %p.float-right
        %i.fas.fa-users
        Student Capacity:
        = room.instructional_seating_count

      %br
      %hr.border-dark


      .rooms-card-details.float-left
        %ul
          %li
            Type :
            = room.rmtyp_description
          %li
            Team Learning :
            = team_learning?(room.room_characteristics)
      .rooms-card-floors.float-right
        %ul
          %li
            Type :
            = room.rmtyp_description
          %li
            Team Learning :
            = team_learning?(room.room_characteristics)

          %button.btn.clipboard-btn{"data-clipboard-text" => "#{room.room_number} #{room.building.nick_name} \nStudent Capacity: #{room.instructional_seating_count}\nCalendar Link: https://csprod.dsc.umich.edu/services/facilitycalendar?facilityid=#{room.facility_code_heprod }\nLocation: #{room.building.nick_name.titleize}, #{room.building.address.titleize}"}
            Copy to clipboard
