
.rooms-index-card
  = link_to room do
    - if room.room_image.attached?

      .room-image{:style=> "background-image: url('#{url_for(room.room_image)}')"}
        .rooms-index-name
          = room.room_number
          = room.building.name.titleize
          .text-gray-400.items-center.text-base
            %i.fas.fa-map-marker-alt.mr-1
            = room.building.address
      .rooms-index-card-building-badge
        - if room.building.building_image.attached?
          = image_tag room.building.building_image, alt: "#{room.building.name.titleize}"
        - else
          .room-builiding-abbreviation.bg-badge{:style => " background-image: url(#{asset_pack_path('media/mi_locations/images/MiLocationsLogo.png')})"}
    - else

      .room-image{:style => "background-image: url(#{asset_pack_path('media/mi_locations/images/vistas/Burton.jpg')});"}
        .rooms-index-name
          = room.room_number
          = room.building.name.titleize
          .text-gray-400.items-center.text-base
            %i.fas.fa-map-marker-alt.mr-1
            = room.building.address

      .rooms-index-card-building-badge
        - if room.building.building_image.attached?
          = image_tag room.building.building_image, alt: "#{room.building.name.titleize}"
        - else
          .room-builiding-abbreviation.bg-badge{:style => " background-image: url(#{asset_pack_path('media/mi_locations/images/MiLocationsLogo.png')})"}

  .characteristics-row
    -# %h2 Room Features
    .characteristics
      = render room.room_characteristics

  .actions
    %button.button.rooms-room-favorite-button
      %i.far.fa-heart
      %span Favorite
    %button.button.rooms-room-directions-button
      %i.fas.fa-map-marked-alt
      %span Directions

    = link_to  "https://csprod.dsc.umich.edu/services/facilitycalendar?facilityid=#{room.facility_code_heprod }", :target => "_blank", :role => "button",:class => "button rooms-room-schedule-button" do
      %i.fas.fa-calendar-alt
      %span Schedule

    %button.button.rooms-room-copy-button{"data-controller" => "clipboard", "data-action" => "clipboard#copy", :href => "#"}
      %i.fas.fa-copy
      %span Copy
      %input{"data-target" => "clipboard.source", :readonly => "readonly", :style => "position:absolute; left: -1000px; top:-1000px;", :type => "text", :value => "#{room.to_json}"}/
