
= search_form_for @q, remote: true, url: search_rooms_path do |f|
  .search-form

    .search-field

      %label Search by building name or nick name
      = f.search_field :facility_code_heprod_or_building_name_or_building_nick_name_or_building_abbreviation_cont, class: 'form-input', "aria-describedby" => "Search by building name or nick name", "aria-label" => "Search by building name or nick name", :placeholder => "Search by building name or nick name", :type => "text"

    = render 'rooms_search_filters'

.search-tools
  .search-results#rooms-search-matches
    = "#{ pluralize(@q.result.size, 'Match')}"
  .results-view--select
    .inline-flex
      %button.pagination-button.rounded-l.border-r.border-gray-500
        %i.fas.fa-list
        List
      %button.pagination-button.rounded-r
        %i.fas.fa-th-large
        Grid

  .results-pagination
    .inline-flex

      %button.pagination-button.rounded-l.border-r.border-gray-500
        = link_to_prev_page @rooms, 'Prev', remote: true
        %i.fas.fa-chevron-left
      %button.pagination-button.rounded-r
        = link_to_next_page @rooms, 'Next', remote: true
        %i.fas.fa-chevron-right


  -# = paginate @rooms

  -# = page_entries_info @buildings
  -# .per-page

  -#   = select_tag :per_page, options_for_select([15,25,50,100], @per_page.to_i), class: 'per_page', :style => "width: 60px;", onchange: 'this.form.submit();'
  -#   Per Page