

-# .rooms-index-cards
  = render partial: "rooms_index_card", collection: @rooms, as: :room, cached: true
.room-map.hidden{data: {controller: "map",
        "map-mapbox-token": "#{Rails.application.credentials.dig(:MI_LOCATIONS_OPENMAP_TOKEN)}" },
        "data-map-mapbox-room" => @rooms_json, "data-target" => "toggle.roomsmap"}
  #mapid

.layouts
  - if @rooms.count == 0
    .no-matches-notice
      %span No rooms matched your search.
      %span Please try different critera.
    .reset-filters= link_to "Reset your filters", rooms_path

  .rooms-cards.hidden.active-layout{data: {target: "toggle.layout" }}
    = render partial: "rooms_index_card2", collection: @rooms, as: :room, cached: true
  .rooms-rows.hidden{data: {target: "toggle.layout" }}
    Rows
- if @rooms.count > 0
  .rooms-map-toggle{data: {action: "click->toggle#roomsmapToggle"} }
    .map{ data: {target: "toggle.roomsmap"} }
      %i.fas.fa-map
      Map
    .close-map.hidden{ data: {target: "toggle.roomsmap"} }
      %i.fas.fa-map
      Close




-# = link_to 'TOP', '#', class: 'scroll-to--top'

-# "data-map-mapbox-room" => "#{RoomSerializer.new(@room).to_json.html_safe}"