= search_form_for @q, url: search_rooms_path, html: { method: :post } do |f|
  .rooms-search-bar
    .search-group
      = f.search_field :facility_code_heprod_or_building_name_or_building_nick_name_or_building_abbreviation_cont, class: 'search-field', "aria-describedby" => "Search by building name or nick name", "aria-label" => "Search by building name or nick name", :placeholder => "Search by building name or nick name", :type => "text"
      .search-button.-mr-px
        %span
          %i.fas.fa-search
          = f.submit class: 'SearchMe'
    .rooms-search-selects
      .col.ml-2

        %v-select.vue-select.search-by-building{":options" => "['Undergraduate Sciences Building','United States']", :multiple => "multiple", "v-model" => "buildings", placeholder: 'Search By Building'}
      .col.mr-2

        %v-select.vue-select{":options" => "['Canada','United States']", :multiple => "multiple", "v-model" => "schools_or_colleges", placeholder: 'Search By School or College'}
      -# =console
    -# .row
      .rooms-search-matches
        = "#{ pluralize(@q.result.size, 'Match')}"
      .rooms-search-filters-toggle
        .rooms-search-filters-toggle-on
          Filters On
          %i.fas.fa-toggle-on
        .rooms-search-filters-toggle-off
          Filters Off
          %i.fas.fa-toggle-off

    = render 'rooms_search_filters'