
.filter-tools
  .search-results#rooms-search-matches.inline-flex
    = @results.size
    .hidden.ml-1.sm:block= "#{ pluralize_without_count(@results.size, 'Match')}"
  .sort-by-options
    Sort:
    .sort-by-capacity.sort-by-link
      = sort_link(@q, :instructional_seating_count) do
        Capacity

    .sort-by-room-number.sort-by-link
      = sort_link(@q, :room_number) do
        Room number

-# .rooms-index-cards
  = render partial: "rooms_index_card", collection: @rooms, as: :room, cached: true
.room-map.hidden{data: {controller: "map",
        "map-mapbox-token": "#{Rails.application.credentials.dig(:MI_LOCATIONS_OPENMAP_TOKEN)}" },
        "data-map-mapbox-room" => @rooms_json, "data-target" => "toggle.roomsmap"}
  #mapid

.rooms-cards#rooms-cards
  = render partial: "rooms_index_card2", collection: @rooms, as: :room, cached: true

.rooms-map-toggle{data: {action: "click->toggle#roomsmapToggle"} }
  .map{ data: {target: "toggle.roomsmap"} }
    %i.fas.fa-map
    Map
  .close-map.hidden{ data: {target: "toggle.roomsmap"} }
    %i.fas.fa-map
    Close




-# = link_to 'TOP', '#', class: 'scroll-to--top'

-# "data-map-mapbox-room" => "#{RoomSerializer.new(@room).to_json.html_safe}"