= "#{room.title} : #{room.building.address}, #{room.building.city}\n"

= "See room details: #{room_url(room)}"

= "See room schedule: #{room_url(room)}"
= "#{room.department_name}"

= "Student Capacity: #{room.instructional_seating_count}"

Room Characteristics

-# Features:
-# -room.room_characteristics.select{ |c| c.feature? || c.feature?}.each do |rc|
-#   = rc.characteristic_label

-# Writing Surfaces
-# -room.room_characteristics.select{ |c| c.teamboard_feature? || c.whiteboard_feature? || c.chalkboard_feature?}.each do |rc|
-#   = rc.characteristic_label


-# Projection
-# -room.room_characteristics.select{ |c| c.projection_feature? || c.projection_feature?}.each do |rc|
-#   = rc.characteristic_label
