.rooms-index-row{data: {controller: "dropdown"}}
  %li
    %a.block.transition.duration-150.ease-in-out{class: "hover:bg-blue-50 focus:outline-none focus:bg-gray-50", href: "#"}
      .flex.items-center.px-4.py-4{class: "sm:px-6"}
        .flex.items-center.flex-1.min-w-0
          .flex-shrink-0
            -# %img.w-12.h-12.rounded-full{alt: "Room image", src: "https://images.unsplash.com/photo-1472099645785-5658abf4ff4e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80"}/


            = link_to room do
              - if room.room_panorama.attached?
                .w-12.h-12.rounded-full= image_tag(url_for(room.room_panorama.variant(resize: "10%").processed), alt: "#{room.room_number} #{room.building.name.titleize} picture", loading: "lazy", width: "100px")

              - elsif room.room_image.attached?
                .w-12.h-12.rounded-full= image_tag(url_for(room.room_image.variant(resize: "10%").processed), alt: "#{room.room_number} #{room.building.name.titleize} picture", loading: "lazy", width: "100px")
              - else
                .w-12.h-12.rounded-full= image_tag(asset_pack_path('media/mi_locations/images/vistas/Burton_card.jpg'), alt: "#{room.room_number} #{room.building.name.titleize} image not available", loading: "lazy", width: "100px")


          .flex-1.min-w-0.px-4{class: "md:grid md:grid-cols-2 md:gap-4"}
            %div
              .text-sm.font-medium.leading-5.text-blue-600.truncate
                = room.title
              .flex.items-center.mt-2.text-sm.leading-5.text-gray-500

                .icon.mr-1.self-center= render "icons/graduation-cap_icon", cached: true

                %span.truncate= room.department_name
                .flex.ml-4
                  - if current_user
                    .icon.mr-1.self-center= render "icons/users_icon", cached: true
                    %span= room.student_capacity

            .hidden{class: "md:block"}
              %div
                .text-sm.flex.leading-5.text-gray-500

                  = link_to "https://csprod.dsc.umich.edu/services/facilitycalendar?facilityid=#{room.facility_code_heprod }", target: "_blank" do
                    .icon= render "icons/calendar-alt_icon", cached: true
                    %span Room Schedule

                .flex.items-center.mt-2.text-sm.leading-5.text-gray-500
                  -if room.alerts.any?
                    %span.alert-badge.mr-1
                      = "#{room.alerts.size}"
                    Alerts!
        .classroom-row-dropdown-toggle{data: {controller: "toggle","toggle-class" => "rotary", action:"click->dropdown#toggle touch->toggle#toggle click->toggle#toggle touch->toggle#toggle#toggle"}}
          .classroom-row-dropdown-toggle-button
            %span More
            %svg.w-5.h-5{fill: "currentColor", viewbox: "0 0 20 20"}
              %path{"clip-rule" => "evenodd", d: "M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z", "fill-rule" => "evenodd", data: {target: "toggle.toggleable"}}


  %div.hidden{data: {target: "dropdown.menu"}}
    - if user_signed_in?
      = render partial: 'rooms_row_dropdown', locals: {room: room}, cached: true
    - else
      Please sign in to see additional information about this room
