.toggle
  / Checkbox toggle
  %input#beethoven-joke.toggle-input{:type => "checkbox", :value => "selected"}/
  %label.toggle-label{:for => "beethoven-joke"} Filters
  / Content to toggle
  .toggle-content


    -# .rooms-search-filters{"data-controller" => "toggle"}
    .rooms-search-filters{"data-controller" => "filters", "role" => "toggle"}
      %section.filters{"data-target" => "toggle.thingToShow"}
        .filter-group
          %h5.filter-title
            %i.fas.fa-handshake
            Team Learning

          .filter-checkboxes
            %label
              = check_box_tag('q[room_characteristics_chrstc_descrshort_cont_all][]',"TeamTech", false, {class: 'sr-only', data: { url: search_rooms_path, remote: true }})
              %span.form-checkbox{"aria-hidden" => "true"}
              %span.ml-2 Team Technology

            %label
              = check_box_tag('q[room_characteristics_chrstc_descrshort_cont_all][]',"TeamBoard", false,  {class: 'sr-only', data: { url: search_rooms_path, remote: true }} )
              %span.form-checkbox{"aria-hidden" => "true"}
              %span.ml-2 Team Writing Surface

        .filter-group
          %h5.filter-title
            %i.fas.fa-chalkboard
            Writing Surface
          .filter-checkboxes
            %label
              = check_box_tag('q[room_characteristics_chrstc_descrshort_cont_all][]',"Chkbrd", false, {class: 'sr-only', data: { url: search_rooms_path, remote: true }})
              %span.form-checkbox{"aria-hidden" => "true"}
              %span.ml-2 Chalkboard
            %label
              = check_box_tag('q[room_characteristics_chrstc_descrshort_cont_all][]',"Chkbrd>25", false, {class: 'sr-only', data: { url: search_rooms_path, remote: true }})
              %span.form-checkbox{"aria-hidden" => "true"}
              %span.ml-2 Chalkboard greater than 25'
            %label
              = check_box_tag('q[room_characteristics_chrstc_descrshort_cont_all][]',"Whtbrd", false, {class: 'sr-only', data: { url: search_rooms_path, remote: true }})
              %span.form-checkbox{"aria-hidden" => "true"}
              %span.ml-2 Whiteboard
            %label
              = check_box_tag('q[room_characteristics_chrstc_descrshort_cont_all][]',"Whtbrd>25", false, {class: 'sr-only', data: { url: search_rooms_path, remote: true }})
              %span.form-checkbox{"aria-hidden" => "true"}
              %span.ml-2 Whiteboard greater than 25'

        .filter-group
          %h5.filter-title
            %i.fas.fa-film
            Audio Visual
          .filter-checkboxes
            %label
              = check_box_tag('q[room_characteristics_chrstc_descrshort_cont_all][]',"Blackout", false, {class: 'sr-only', data: { url: search_rooms_path, remote: true }})
              %span.form-checkbox{"aria-hidden" => "true"}
              %span.ml-2 Blackout (Room Darkening)
            %label
              = check_box_tag('q[room_characteristics_chrstc_descrshort_cont_all][]',"BluRay", false, {class: 'sr-only', data: { url: search_rooms_path, remote: true }})
              %span.form-checkbox{"aria-hidden" => "true"}
              %span.ml-2 BluRay / DVD Player
            %label
              = check_box_tag('q[room_characteristics_chrstc_descrshort_cont_all][]',"DocCam", false, {class: 'sr-only', data: { url: search_rooms_path, remote: true }})
              %span.form-checkbox{"aria-hidden" => "true"}
              %span.ml-2 Document Camera
            %label
              = check_box_tag('q[room_characteristics_chrstc_descrshort_cont_all][]',"IntrPen", false, {class: 'sr-only', data: { url: search_rooms_path, remote: true }})
              %span.form-checkbox{"aria-hidden" => "true"}
              %span.ml-2 Interactive Screen
            %label
              = check_box_tag('q[room_characteristics_chrstc_descrshort_cont_all][]',"LectureCap", false, {class: 'sr-only', data: { url: search_rooms_path, remote: true }})
              %span.form-checkbox{"aria-hidden" => "true"}
              %span.ml-2 Lecture Capture
            %label
              = check_box_tag('q[room_characteristics_chrstc_descrshort_cont_all][]',"VideoConf", false, {class: 'sr-only', data: { url: search_rooms_path, remote: true }})
              %span.form-checkbox{"aria-hidden" => "true"}
              %span.ml-2 Video Conferencing

        .filter-group
          %h5.filter-title
            %i.fas.fa-video
            Projection
          .filter-checkboxes
            %label
              = check_box_tag('q[room_characteristics_chrstc_descrshort_cont_all][]',"ProjDigit", false, {class: 'sr-only', data: { url: search_rooms_path, remote: true }})
              %span.form-checkbox{"aria-hidden" => "true"}
              %span.ml-2 Projection Digital Data and Video
            %label
              = check_box_tag('q[room_characteristics_chrstc_descrshort_cont_all][]',"Proj35mm", false, {class: 'sr-only', data: { url: search_rooms_path, remote: true }})
              %span.form-checkbox{"aria-hidden" => "true"}
              %span.ml-2 35mm Film
            %label
              = check_box_tag('q[room_characteristics_chrstc_descrshort_cont_all][]',"ProjD-Cin", false, {class: 'sr-only', data: { url: search_rooms_path, remote: true }})
              %span.form-checkbox{"aria-hidden" => "true"}
              %span.ml-2 Digital Cinema Projection

        .filter-group
          %h5.filter-title
            %i.fas.fa-laptop
            Podium Computer
          .filter-checkboxes
            %label
              = check_box_tag('q[room_characteristics_chrstc_descrshort_cont_all][]',"InstrComp, CompPodPC, CompPodMac-Cin", false, {class: 'sr-only', data: { url: search_rooms_path, remote: true }})
              %span.form-checkbox{"aria-hidden" => "true"}
              %span.ml-2 Instructor Computer

        .filter-group
          %h5.filter-title
            %i.fas.fa-keyboard
            Computer Classroom / Lab
          .filter-checkboxes
            %label
              = check_box_tag('q[room_characteristics_chrstc_descrshort_cont_all][]',"CompMac", false, {class: 'sr-only', data: { url: search_rooms_path, remote: true }})
              %span.form-checkbox{"aria-hidden" => "true"}
              %span.ml-2 Mac
            %label
              = check_box_tag('q[room_characteristics_chrstc_descrshort_cont_all][]',"CompPC", false, {class: 'sr-only', data: { url: search_rooms_path, remote: true }})
              %span.form-checkbox{"aria-hidden" => "true"}
              %span.ml-2 PC
            %label
              = check_box_tag('q[room_characteristics_chrstc_descrshort_cont_all][]',"CompMac, CompPC, CompAny", false, {class: 'sr-only', data: { url: search_rooms_path, remote: true }})
              %span.form-checkbox{"aria-hidden" => "true"}
              %span.ml-2 Any

      .clear-filters
        %button{"@click.prevent" => "clear_room_characteristics_params"}
          Reset Filters

      -# SELECTED {{ room_characteristics_params }}
      -# .button.filters-button{"data-toggle-hidden" => "false", "data-action" => "click->toggle#toggle"}
      -#   %span{"data-target" => "toggle.text"} Hide Filters

      .button.filters-button{"data-toggle-shown" => "false", "data-action" => "click->toggle#toggle"}
        %span{"data-target" => "toggle.text"} Show Filters
