= search_form_for @q, remote: true, url: search_rooms_path do |f|

  -# .row

  -#   .rooms-search-filters-toggle
  -#     .rooms-search-filters-toggle-on
  -#       %i.fas.fa-toggle-on
  -#       Filters On
  -#     .rooms-search-filters-toggle-off
  -#       Filters Off
  -#       %i.fas.fa-toggle-off


  .search-form
    .search-form--group
      %label Building by name or nickname
      = f.search_field :facility_code_heprod_or_building_name_or_building_nick_name_or_building_abbreviation_cont, class: 'form-input', "aria-describedby" => "Search by building name or nick name", "aria-label" => "Search by building name or nick name", :placeholder => "Search by building name or nick name", :type => "text"

    .search-form--secondary--group
      %label
        School or College
      %input.form-input{:placeholder => "School of Social Work", :type => "text"}

    .search-form--button
      %button.search-form--button Search

    .characteristics-dropdowns
      = render 'rooms_search_filters'
    .flex.flex-row.w-screen.justify-between.mt-4.mx-3
    .rooms-search-matches#rooms-search-matches
      = "#{ pluralize(@q.result.size, 'Match')}"
    .inline-flex
      %button.pagination-button.rounded-l.border-r.border-gray-500
        Prev
      %button.pagination-button.rounded-r
        Next
  %label
    Student Capacity

  #slider
  #reset-slider
    Reset




  -# = f.text_field :instructional_seating_count_gteq, :size => 3, :placeholder => '1', :style => "width: 34px;  float: left;", :id => "minimum"

  -# %input#slider{ "data-slider-value" => [@q.instructional_seating_count_gteq, @q.instructional_seating_count_lteq], name: "q2", type: "text"}

  -# = f.text_field :instructional_seating_count_lteq, :size => 3, :placeholder => '250', :style => "width: 34px; ",:id => "maximum"

  -# -# alert(slider.noUiSlider.get());
