.room-map.hidden{data: {controller: "map", target: "toggle.roomsmap",
        "map-mapbox-token": "#{Rails.application.credentials.dig(:MI_LOCATIONS_OPENMAP_TOKEN)}" },
        "data-map-mapbox-room" => @rooms.to_json}
  #mapid


- if @pagy.count == 0
  .no-matches-notice
    %span No rooms matched your search.
    %span Please try different criteria.
  .reset-filters= link_to "Reset your filters", rooms_path

.rooms-cards#add-rooms{data: { action: "scroll@window->infinite-scroll#scroll", target: "toggle.layout infinite-scroll.entries" }}
  -# %ul.overflow-y-scroll.w-auto
  -# = render(partial: "rooms_index_row2", collection: @rooms, as: :room, cached: true) || "No rooms matched your criteria"
  = render(partial: "rooms_card", collection: @rooms, as: :room, cached: true) || "No rooms matched your criteria"


  .rooms-cards#rooms-cards

  - if @pagy.count > 0
    .rooms-map-toggle{data: {action: "click->toggle#roomsmapToggle"} }
      .map{ data: {target: "toggle.roomsmap"} }
        %i.fas.fa-map
        .icon= render "icons/map-marked-alt_icon", cached: true
        Map
      .close-map.hidden{ data: {target: "toggle.roomsmap"} }

        %i.fas.fa-map
        .icon= render "icons/close_icon", cached: true
        Close
.z-10
  #pagination-page
    -unless @pagy.page == @pagy.count
      #view-more{data: {target: "infinite-scroll.pagination"}}
        = pagy_nav(@pagy).html_safe


  -# .z-40
  -#   #pagination-page= @rooms.current_page
  -#   - unless @rooms.current_page == @rooms.total_pages
  -#     #view-more{data: {target: "infinite-scroll.pagination"}}
  -#       = link_to_next_page @rooms, "View More", class: "view-more-link", remote: true
  -#     -# = link_to 'TOP', '#', class: 'scroll-to--top'

  -#     -# "data-map-mapbox-room" => "#{RoomSerializer.new(@room).to_json.html_safe}"
