
.rooms-index-card
  = link_to room do
    - if room.room_image.attached?
      .room-card-image{:style=> "background-image: url('#{url_for(room.room_image)}')"}
        .rooms-index-name
          = room.room_number
          = room.building.name.titleize
          .text-gray-400.items-center.text-base
            %i.fas.fa-map-marker-alt.mr-1
            = room.building.address
      = render partial: 'rooms_index_card_building_badge', locals: {room: room}
    - else
      .room-card-image{:style => "background-image: url(#{asset_pack_path('media/mi_locations/images/vistas/Burton.jpg')});"}
        .rooms-index-name
          = room.room_number
          = room.building.name.titleize
          .text-gray-400.items-center.text-base
            %i.fas.fa-map-marker-alt.mr-1
            = room.building.address

      = render partial: 'rooms_index_card_building_badge', locals: {room: room}

    .card-room-highlights
      .card-room-highlight.capacity.tooltip.tooltip-top{"data-tooltip" => "Instructional seating count; the number of seats available for students."}
        %div
          %i.fas.fa-users
          %span= room.instructional_seating_count
        %div.text-sm
          .label Capacity

      .card-room-highlight.team-learning.tooltip.tooltip-top{"data-tooltip" => "Team Learning Classroom"}
        %div
          %i.far.fa-handshake
          -# - if room.team_learning_classroom?
          -#   %i.fas.fa-thumbs-up
          -# - else
          -#   %i.fas.fa-thumbs-down
        %div.text-sm
          .label Team Learning

      .card-room-highlight.room-alerts.tooltip.tooltip-top{"data-tooltip" => "This room has #{room.alerts.count} alerts"}
        %div
          %i.fas.fa-exclamation-triangle
          = room.alerts.size
        %div.text-sm
          .label Alerts




  .characteristics-row
    -# %h2 Room Features
    .characteristics
      = render room.room_characteristics

  .room-card-actions
    %button.button.rooms-room-favorite-button.tooltip.tooltip-top{"data-tooltip" => "Add this room to your list of favorites", :href => "", :role => "button"}
      %i.far.fa-heart
      %span Favorite
    %button.button.rooms-room-directions-button.tooltip.tooltip-top{"data-tooltip" => "Get directions to this room.", :href => "", :role => "button"}
      %i.fas.fa-map-marked-alt
      %span Directions

    = link_to  "https://csprod.dsc.umich.edu/services/facilitycalendar?facilityid=#{room.facility_code_heprod }", :target => "_blank", :role => "button", :class => " button tooltip tooltip-top ", "data-tooltip" => "Go to room schedule." do
      %i.fas.fa-calendar-alt
      %span Schedule

    %button.button{"data-controller" => "clipboard", "data-action" => "clipboard#copy", :href => "#",  "data-tooltip" => "Copy this room's description and attributes.", :role => "button", :class => "tooltip tooltip-top" }
      %i.fas.fa-copy
      %span Copy
      %input{"data-target" => "clipboard.source", :readonly => "readonly", :style => "position:absolute; left: -10000px; top:-1000px;", :type => "text", :value => "#{room.to_json}"}/
