= form_for @room do |f|
  - if @room.errors.any?
    #error_explanation
      %h2= "#{pluralize(@room.errors.count, "error")} prohibited this floor from being saved:"
      %ul
        - @room.errors.full_messages.each do |message|
          %li= message
      - if @room.room_panorama.attached?
        = image_tag @room.room_panorama

  .field
    = f.file_field :room_panorama
  .actions
    = f.submit 'Save'
