.room-char
  = link_to  "", :role => "button", :class => " tooltip tooltip-top ", "data-tooltip" => "#{characteristic.chrstc_desc254}" do
    .icon= render "icons/#{room_characteristic_icon_new(characteristic)}", cached: true
    %b= characteristic.characteristic_label
