.room-map.hidden{data: {controller: "map", target: "toggle.roomsmap",
        "map-mapbox-token": "#{Rails.application.credentials.dig(:MI_LOCATIONS_OPENMAP_TOKEN)}" },
        "data-map-mapbox-room" => @rooms_json}
  #mapid

.layouts
  - if @rooms.size == 0
    .no-matches-notice
      %span No rooms matched your search.
      %span Please try different critera.
    .reset-filters= link_to "Reset your filters", rooms_path

  .rooms-cards{data: {target: "toggle.layout", target: "infinite_scroll.scrollcontainer"}}
    = render partial: "rooms_index_card2", collection: @rooms, as: :room, cached: true

- if @rooms.size > 0
  .rooms-map-toggle{data: {action: "click->toggle#roomsmapToggle"} }
    .map{ data: {target: "toggle.roomsmap"} }
      %i.fas.fa-map
      .icon= render "icons/map-marked-alt_icon", cached: true
      Map
    .close-map.hidden{ data: {target: "toggle.roomsmap"} }
      %i.fas.fa-map
      .icon= render "icons/close_icon", cached: true
      Close
