.room-map.hidden{data: {controller: "map", target: "toggle.roomsmap",
        "map-mapbox-token": "#{Rails.application.credentials.dig(:MI_LOCATIONS_OPENMAP_TOKEN)}" },
        "data-map-mapbox-location" => @map_sauce}
  #mapid


- if @pagy.count == 0
  .no-matches-notice
    %span No rooms matched your search.
    %span Please try different criteria.
  .reset-filters= link_to "Reset your filters", rooms_path

.rooms-cards#add-rooms{data: {  target: "toggle.layout infinite-scroll.entries" }}
  - if params[:view_preference] == "list_view"
    = render(partial: "rooms_row", collection: @rooms, as: :room, cached: true) || "No rooms matched your criteria"

  -# - if params[:view_preference] == "grid_view"
    = render(partial: "rooms_card", collection: @rooms, as: :room, cached: true) || "No rooms matched your criteria"

  .rooms-cards#rooms-cards

  - if @pagy.count > 0
    .rooms-map-toggle{data: {action: "click->toggle#roomsmapToggle"} }
      .map{ data: {target: "toggle.roomsmap"} }
        %i.fas.fa-map
        .icon= render "icons/map-marked-alt_icon", cached: true
        Map
      .close-map.hidden{ data: {target: "toggle.roomsmap"} }

        %i.fas.fa-map
        .icon= render "icons/close_icon", cached: true
        Close
.z-10
  #pagination-page
    -unless @pagy.page == @pagy.count
      #view-more{data: {target: "infinite-scroll.pagination"}}
        = pagy_nav(@pagy).html_safe