.rooms-index-row
  .rooms-index-row-top
    .rooms-index-row--image
      -if room.room_image.attached?
        'HI'

      - else
        .max-w-xl.mx-auto.bg-red-500{:style => "background-image: url('https://images.unsplash.com/photo-1522093537031-3ee69e6b1746?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=a634781c01d2dd529412c2d1e2224ec0&auto=format&fit=crop&w=2098&q=80');"}

    .rooms-index-row-name
      = link_to room_path(room) do
        = room.room_number
        = room.building.nick_name.titleize
        = room.building.address.titleize
    .rooms-index-row-capacity
      = room.instructional_seating_count

    .rooms-index-row-facility-code-heprod
      = room.facility_code_heprod
    .rooms-index-row-calandar-url
      = link_to "View Room Schedule", "https://csprod.dsc.umich.edu/services/facilitycalendar?facilityid=#{room.facility_code_heprod }", :target => "_blank"

    .rooms-index-row-copy-button{ "data-controller" => "clipboard"}

      %a.clipboard-button{"data-action" => "clipboard#copy", :href => "#"}
        %i.fas.fa-copy
        Copy
      %input{"data-target" => "clipboard.source", :readonly => "readonly", :style => "position:absolute; left: -1000px; top:-1000px;", :type => "text", :value => "#{room.to_json}"}/

  .rooms-index-row-bottom
    .rooms-index-row-team-learning
      Team Learning Space: #{room.team_learning_classrooms?}
  .rooms-index-row-bottom
    .rooms-index-row-team-learning
      Visible: #{room.visible?}
    .rooms-index-row-team-learning
      %i.far.fa-heart
