= search_form_for @q, remote: true, url: search_rooms_path do |f|

  -# .row

  -#   .rooms-search-filters-toggle
  -#     .rooms-search-filters-toggle-on
  -#       %i.fas.fa-toggle-on
  -#       Filters On
  -#     .rooms-search-filters-toggle-off
  -#       Filters Off
  -#       %i.fas.fa-toggle-off


  .search-form
    .search-form--group
      %label Building by name or nickname
      = f.search_field :facility_code_heprod_or_building_name_or_building_nick_name_or_building_abbreviation_cont, class: 'form-input', "aria-describedby" => "Search by building name or nick name", "aria-label" => "Search by building name or nick name", :placeholder => "Search by building name or nick name", :type => "text"

    .search-form--secondary--group
      %label
        School or College
      %input.form-input{:placeholder => "School of Social Work", :type => "text"}
    .search-form--secondary--group
      %label
        Building(s)

      %select.form-select
        %option Angell Hall
        %option Burton Tower
        %option North University Building
        %option Undergraduate Sciences Building

    .search-form--button
      %button.search-form--button Search

    .flex.flex-row.w-screen.justify-between.mt-4.mx-3
      .rooms-search-matches#rooms-search-matches
        = "#{ pluralize(@q.result.size, 'Match')}"
      .inline-flex
        %button.bg-gray-300.hover:bg-gray-400.text-gray-800.font-bold.py-2.px-4.rounded-l
          Prev
        %button.bg-gray-300.hover:bg-gray-400.text-gray-800.font-bold.py-2.px-4.rounded-r
          Next
  .blue-row
    .characteristics-dropdowns
      = render 'rooms_search_filters'