
-# -# const results = document.getElementById("rooms-cards")
-# console.log("Page \# #{@rooms.current_page}")
-# -# document.getElementById("rooms-cards").classList.add("bg-yellow-500")

-# -# var roomsCards = document.getElementById("rooms-cards").append("#{j render(partial: "rooms/rooms_card", collection: @rooms, as: :room).html_safe }")

-# var matches = document.getElementById("rooms-search-matches")
-# matches.innerHTML = "#{j pluralize(@results.size, 'Match')}"

-# var pagenumber = document.getElementById("pagination-page")
-# pagenumber.innerHTML = "#{j @rooms.current_page}"


-# -# const wrapper = document.createElement('span');
-# -# wrapper.innerHTML = "#{j render(partial: 'rooms/rooms_card', collection: @rooms, as: :room)}"
-# -# document.getElementById("rooms-cards").append(wrapper);


-# const roomsCards = document.getElementById("add-rooms")
-# -# roomsCards.innerHTML = "#{j render(partial: 'rooms/rooms_card', collection: @rooms, as: :room)}"
-# roomsCards.innerHTML = "#{j render(partial: 'rooms/rooms_index_row2', collection: @rooms, as: :room)}"
-# document.getElementById("rooms-cards").append(roomsCards);