= search_form_for @q, url: search_rooms_path,
                        html: { method: :post } do |f|

  .rooms-search-bar
    .row.rooms-search-field
      .input-group.mt-1.mx-4
        = f.search_field :facility_code_heprod_or_building_name_or_building_nick_name_or_building_abbreviation_cont, placeholder: 'Search...', class: 'form-control', "aria-describedby" => "Search for Rooms", "aria-label" => "Search for rooms", :placeholder => "Search", :type => "text", "aria-controls" => "rooms-search-filters", "aria-expanded" => "false", "data-toggle" => "collapse", :href => ".rooms-search-filters"
        .input-group-append
          %button#button-addon2.btn.btn-success{:type => "button", "aria-controls" => "rooms-search-filters", "aria-expanded" => "false", "data-toggle" => "collapse", :href => ".rooms-search-filters" }
            %i.fas.fa-sliders-h
            Filters
    .row.rooms-search-selects
      .col.ml-2
        %select.form-control.form-control-sm.search-by-building
          %i.fas.fa-building
          %option Search By Building
      .col.mr-2
        %select.form-control.form-control-sm.search-by-school-or-college
          %option
            %i.fas.fa-project-diagram
            Search By School or College



    .rooms-search-matches
      = "#{@q.result.count} Matches"
    -# .rooms-search--sort-by
    -#   %i.fas.fa-sort-amount-down
    -#   Sort By
    -# .rooms-search--capacity
    -#   %i.fas.fa-users
    -#   Student Capacity
    -# .rooms-search--map
    -#   %i.fas.fa-map
    -#   Map

  .rooms-search-filters.collapse
    .rooms-search--top

    -# .NOTES
    -#   New Room Characteristics
    -#
    -# .rooms-search--profile
    -#   .team-tables
    -#     .form-check
    -#       %input#Chkbrd.form-check-input{ :type => 'checkbox', onchange: 'this.form.submit();' }
    -#       %label.form-check-label{ :for => 'Chkbrd' } Seating: Team Tables
    -#     0060 Seating: Team Tables
    -# -#
    -#   .team-technology
    -#     .form-check
    -#       %input#Chkbrd.form-check-input{ :type => 'checkbox' }
    -#       %label.form-check-label{ :for => 'Chkbrd' } Equipment: Team Technology
    -#     0061 Equipment: Team Technology
    -#
    -#   .team-writing
    -#     .form-check
    -#       %input#Chkbrd.form-check-input{ :type => 'checkbox' }
    -#       %label.form-check-label{ :for => 'Chkbrd' } Board: Team Writing Surface
    -#     0062 Board: Team Writing Surface

    .row.rooms-search--checkboxes
      .filters--list
        %h5
          %i.fas.fa-chalkboard
          Writing Surface

        %hr

        .form-check
          .form-check-input
            = check_box_tag('q[room_characteristics_chrstc_descrshort_cont_all][]', 'Chkbrd', is_checked?('Chkbrd'), onchange: 'this.form.submit();' )
          %label.form-check-label{ :for => 'Chkbrd' } Chaulkboard

        .form-check
          .form-check-input
            = check_box_tag('q[room_characteristics_chrstc_descrshort_cont_all][]', 'Chkbrd_25', is_checked?('Chkbrd_25'), onchange: 'this.form.submit();' )
          %label.form-check-label{ :for => 'Chkbrd_25' } Chaulkboard greater than 25'

        .form-check
          .form-check-input
            = check_box_tag('q[room_characteristics_chrstc_descrshort_cont_all][]', 'Whtbrd', is_checked?('Whtbrd'), onchange: 'this.form.submit();' )
          %label.form-check-label{ :for => 'Whtbrd' } Whiteboard

        .form-check
          .form-check-input
            = check_box_tag('q[room_characteristics_chrstc_descrshort_cont_all][]', 'Whtbrd_25', is_checked?('Whtbrd_25'), onchange: 'this.form.submit();' )
          %label.form-check-label{ :for => 'Whtbrd_25' } Whiteboard greater than 25'

        %h5
          %i.fas.fa-video
          Projection

        .form-check
          .form-check-input
            = check_box_tag('q[room_characteristics_chrstc_descrshort_cont_all][]', 'Proj16mm', is_checked?('Proj16mm'), onchange: 'this.form.submit();' )
          %label.form-check-label{ :for => 'Proj16mm' } 16mm Film

        .form-check
          .form-check-input
            = check_box_tag('q[room_characteristics_chrstc_descrshort_cont_all][]', 'Proj35mm', is_checked?('Proj35mm'), onchange: 'this.form.submit();' )
          %label.form-check-label{ :for => 'Proj35mm' } 35mm Film

        .form-check
          .form-check-input
            = check_box_tag('q[room_characteristics_chrstc_descrshort_cont_all][]', 'ProjDigit', is_checked?('ProjDigit'), onchange: 'this.form.submit();' )
          %label.form-check-label{ :for => 'ProjDigit' } Digital Data

        .form-check
          .form-check-input
            = check_box_tag('q[room_characteristics_chrstc_descrshort_cont_all][]', 'ProjSlide', is_checked?('ProjSlide'), onchange: 'this.form.submit();' )
          %label.form-check-label{ :for => 'ProjSlide' } Traditional Slide


      .filters--list
        %h5
          %i.fas.fa-film
          Audio Visual
        .form-check
          .form-check-input
            = check_box_tag('q[room_characteristics_chrstc_descrshort_cont_all][]', 'Blackout', is_checked?('Blackout'), onchange: 'this.form.submit();' )
          %label.form-check-label{ :for => 'Blackout' } Blackout (Room Darkening)

        .form-check
          .form-check-input
            = check_box_tag('q[room_characteristics_chrstc_descrshort_cont_all][]', 'DVD', is_checked?('DVD'), onchange: 'this.form.submit();' )
          %label.form-check-label{ :for => 'DVD' } DVD Player

        .form-check
          .form-check-input
            = check_box_tag('q[room_characteristics_chrstc_descrshort_cont_all][]', 'BluRay', is_checked?('BluRay'), onchange: 'this.form.submit();' )
          %label.form-check-label{ :for => 'BluRay' } BluRay Player

        .form-check
          .form-check-input
            = check_box_tag('q[room_characteristics_chrstc_descrshort_cont_all][]', 'VCR', is_checked?('VCR'), onchange: 'this.form.submit();' )
          %label.form-check-label{ :for => 'VCR' } VCR

        .form-check
          .form-check-input
            = check_box_tag('q[room_characteristics_chrstc_descrshort_cont_all][]', 'DocCam', is_checked?('DocCam'), onchange: 'this.form.submit();' )
          %label.form-check-label{ :for => 'DocCam' } Document Camera

        .form-check
          .form-check-input
            = check_box_tag('q[room_characteristics_chrstc_descrshort_cont_all][]', 'IntrPen', is_checked?('IntrPen'), onchange: 'this.form.submit();' )
          %label.form-check-label{ :for => 'IntrPen' } Interactive Screen

        .form-check
          .form-check-input
            = check_box_tag('q[room_characteristics_chrstc_descrshort_cont_all][]', 'LectureCap', is_checked?('LectureCap'), onchange: 'this.form.submit();' )
          %label.form-check-label{ :for => 'LectureCap' }  Lecture Capture

        .form-check
          .form-check-input
            = check_box_tag('q[room_characteristics_chrstc_descrshort_cont_all][]', 'Telephone', is_checked?('Telephone'), onchange: 'this.form.submit();' )
          %label.form-check-label{ :for => 'Telephone' }  Telephone

        .form-check
          .form-check-input
            = check_box_tag('q[room_characteristics_chrstc_descrshort_cont_all][]', 'VideoConf', is_checked?('VideoConf'), onchange: 'this.form.submit();' )
          %label.form-check-label{ :for => 'VideoConf' }  Video Conferencing


      .filters--list
        %h5
          %i.fas.fa-laptop
          Podium Computer

        .form-check
          .form-check-input
            = check_box_tag('q[room_characteristics_chrstc_descrshort_cont_all][]', 'CompPodMac', is_checked?('CompPodMac'), onchange: 'this.form.submit();' )
          %label.form-check-label{ :for => 'CompPodMac' }  Mac

        .form-check
          .form-check-input
            = check_box_tag('q[room_characteristics_chrstc_descrshort_cont_all][]', 'CompPodPC', is_checked?('CompPodPC'), onchange: 'this.form.submit();' )
          %label.form-check-label{ :for => 'CompPodPC' }  PC


        %h5
          %i.fas.fa-keyboard
          Computer Classroom
        .form-check
          .form-check-input
            = check_box_tag('q[room_characteristics_chrstc_descrshort_cont_all][]', 'CompAny', is_checked?('CompAny'), onchange: 'this.form.submit();' )
          %label.form-check-label{ :for => 'CompAny' }  Any

        .form-check
          .form-check-input
            = check_box_tag('q[room_characteristics_chrstc_descrshort_cont_all][]', 'CompMac', is_checked?('CompMac'), onchange: 'this.form.submit();' )
          %label.form-check-label{ :for => 'CompMac' }  Mac

        .form-check
          .form-check-input
            = check_box_tag('q[room_characteristics_chrstc_descrshort_cont_all][]', 'CompPC', is_checked?('CompPC'), onchange: 'this.form.submit();' )
          %label.form-check-label{ :for => 'CompPC' }  PC

        %h5
          %i.fas.fa-plug
          Power / Ethernet

        .form-check
          .form-check-input
            = check_box_tag('q[room_characteristics_chrstc_descrshort_cont_all][]', 'Ethernet', is_checked?('Ethernet'), onchange: 'this.form.submit();' )
          %label.form-check-label{ :for => 'Ethernet' }  Ethernet for Instructor

        .form-check
          .form-check-input
            = check_box_tag('q[room_characteristics_chrstc_descrshort_cont_all][]', 'EthrStud', is_checked?('EthrStud'), onchange: 'this.form.submit();' )
          %label.form-check-label{ :for => 'EthrStud' }  Ethernet for Students

        .form-check
          .form-check-input
            = check_box_tag('q[room_characteristics_chrstc_descrshort_cont_all][]', 'PowerStud', is_checked?('PowerStud'), onchange: 'this.form.submit();' )
          %label.form-check-label{ :for => 'PowerStud' }  Power for Students



- @rooms.each do |r|
  .room-row
    = r.rmrecnbr
    = r.room_number
    = r.building.name

= paginate @rooms

// :javascript
//   $('input[type="checkbox"]').change(function() {
//     this.form.submit();
//
//     // $.ajax({
//     //   url: "rooms_path",
//     //   data: $(".form-check-input").serialize();
//     // });
//   });
