- content_for :head do
  = javascript_pack_tag 'rooms_maps', 'data-turbolinks-track': 'reload'

.room-show{ "data-controller" => "toggle"}
  .h-64.overflow-hidden
    #rooms_found.hidden
      = @room_json
    #map.room-map.hidden{ "data-target" => "toggle.roommap" }
      Map Goes Here

    .image-container
      .room-show-image{ "data-target" => "toggle.roommap" }
        - if @room.room_panorama.attached?
          #panorama{ "data-controller" => "pannellum", "data-pannellum-panoimage" => "#{url_for(@room.room_panorama)}",  "data-pannellum-panopreview" => "#{url_for(@room.room_panorama.variant(resize: "25%").processed)}" }

        - elsif @room.room_image.attached?
          = image_tag(url_for(@room.room_image), alt: "#{@room.room_number.titleize} #{@room.building.name.titleize} picture")
        -else
          = image_tag(asset_pack_path('media/mi_locations/images/vistas/Burton.jpg'), alt: "#{@room.room_number.titleize} #{@room.building.name.titleize} image not available")
      .room-map-toggle{"data-action" => "click->toggle#roommaptoggle", }
        .map{ "data-target" => "toggle.roommap"}
          %i.fas.fa-map
          Map
        .close-map.hidden{ "data-target" => "toggle.roommap"}
          %i.fas.fa-map
          Close

    -# .image-container
    -#   .room-show-image{ "data-target" => "toggle.roommap" }
    -#     = link_to @room do
    -#       - if @room.room_image.attached?
    -#         = image_tag(url_for(@room.room_image), alt: "#{@room.room_number.titleize} #{@room.building.name.titleize} picture")
    -#       - else
    -#         = image_tag(asset_pack_path('media/mi_locations/images/vistas/Burton.jpg'), alt: "#{@room.room_number.titleize} #{@room.building.name.titleize} image not available")



  = render partial: 'alerts/alerts', locals: {alertable: @room}

  .room-info-pane
    .left
      .room-title
        = @room.title
        = get_department(current_user.uniqname)
        = member_of_group?(current_user.uniqname, 'lsa-mis-rails-admins')

      .room-capacity
        %i.fas.fa-users
        = "Capacity #{@room.instructional_seating_count} "
      - if @room.team_learning_classroom?
        .room-team-learning
          %i.fas.fa-handshake
          Team Learning
    .right.list-none
      %li
        %i.fas.fa-map-marked-alt
        Directions
      %li
        %i.fas.fa-map
        Map
      %li
        %i.fas.fa-calendar
        Calendar
      %li
        %i.fas.fa-chair
        Room Layout
    .what
      -# = @room.room_contact.rm_schd_cntct_name
      -# = @room.room_contact.rm_schd_cntct_phone
      -# = @room.room_contact.rm_schd_email

  -# #  rmrecnbr             :integer
  -# #  rm_schd_cntct_name   :string
  -# #  rm_schd_email        :string
  -# #  rm_schd_cntct_phone  :string
  -# #  rm_det_url           :string
  -# #  rm_usage_guidlns_url :string
  -# #  rm_sppt_deptid       :string
  -# #  rm_sppt_dept_descr   :string
  -# #  rm_sppt_cntct_email  :string
  -# #  rm_sppt_cntct_phone  :string
  -# #  rm_sppt_cntct_url    :string

  %section.room-features.features-group
    %h2
      Room Features


    .room-chars
      - @room.room_characteristics.select{ |c| c.feature?}.each do |rc|
        .room-char
          %i{ class: "#{rc.characteristic_icon}" }
          %b= rc.characteristic_label
          -# .room-char-description
            = rc.chrstc_desc254



  .secondary-features
    %section.room-features.team-learning
      %h2 Team Learning
      .room-chars
        -@room.room_characteristics.select{ |c| c.teamlearning_feature?}.each do |rc|
          .room-char
            %i{ class: "#{rc.characteristic_icon}" }
            %b= rc.characteristic_label
            -# .room-char-description
            -#   = rc.chrstc_desc254

      %section.room-features.writing-surfaces
        %h2 Writing Surfaces

        .room-chars
          -@room.room_characteristics.select{ |c| c.teamlearning_feature? || c.whiteboard_feature? || c.chalkboard_feature?}.each do |rc|
            .room-char
              %i{ class: "#{rc.characteristic_icon}" }
              %b= rc.characteristic_label
              -# .room-char-description
              -#   = rc.chrstc_desc254

      %section.room-features.projection
        %h2 Projection
        .room-chars
          -@room.room_characteristics.select{ |c| c.projection_feature?}.each do |rc|
            .room-char
              %i{ class: "#{rc.characteristic_icon}" }
              %b= rc.characteristic_label
              -# .room-char-description
              -#   = rc.chrstc_desc254


  - if policy(@room).update?
    = render partial: 'alerts/form', locals: {alertable: @room}

    %h3 Add an Image

    = render partial: 'room_image_form', locals: {room: @rooms}

    %h3 Add a Panorama
    = @room.rmrecnbr

    = render partial: 'room_panorama_form', locals: {room: @rooms}