

.room-show-image
  = link_to @room do
    - if @room.room_image.attached?
      = image_tag(url_for(@room.room_image), alt: "#{@room.room_number.titleize} #{@room.building.name.titleize} picture")
    - else
      = image_tag(asset_pack_path('media/mi_locations/images/vistas/Burton.jpg'), alt: "#{@room.room_number.titleize} #{@room.building.name.titleize} image not available")
= render partial: 'alerts/alerts', locals: {alertable: @room}

.room-content
  .room-title
    = @room.title

  .room-capacity
    %i.fas.fa-users
    = "Capacity #{@room.instructional_seating_count} "
  %hr

  .room-features
    %h2 Features

    -# - @feature_characteristics.each do |feature|

    %li

      = @room.room_characteristics.first.characteristic_icon
      %i{ class: "#{@room.room_characteristics.first.characteristic_icon}" }
      Instructor Computer
    %li
      %i.far.fa-envelope
      Document Camera
    %li
      %i.far.fa-envelope
      Interactive Screen

    %hr
    - @room.room_characteristics.each do |rc|
      .room-characteristic
        %i{ class: "#{rc.characteristic_icon}" }

        %b= rc.characteristic_label
        = rc.chrstc_descr
        %br
        = rc.chrstc_desc254
      %hr


  %hr
  .room-writing-surfaces
    %h2 Writing Surfaces

  %hr
  .room-projection
    %h2 Projection

  -# - if policy(@room).update?
    = render partial: 'alerts/form', locals: {alertable: @room}

    %h3 Add an Image

    = render partial: 'room_image_form', locals: {room: @rooms}