.room-show{ "data-controller" => "toggle"}
  .room-banner
    .room-map-toggle{"data-action" => "click->toggle#roomsmapToggle"}
      .map{ "data-target" => "toggle.roomsmap"}
        %i.fas.fa-map
        Map
      .close-map.hidden{ "data-target" => "toggle.roomsmap"}
        %i.fas.fa-map
        Close

    .room-map.hidden{ "data-controller" => "map",
            "data-map-mapbox-token" => "#{Rails.application.credentials.dig(:MI_LOCATIONS_OPENMAP_TOKEN)}",
            "data-map-mapbox-room" => @room_json, "data-target" => "toggle.roomsmap"}
      #mapid


    .room-show-image{ "data-target" => "toggle.roommap" }
      - if @room.room_panorama.attached?
        #panorama{ "data-controller" => "pannellum", "data-pannellum-panoimage" => "#{url_for(@room.room_panorama)}",  "data-pannellum-panopreview" => "#{url_for(@room.room_panorama.variant(resize: "25%").processed)}" }

      - elsif @room.room_image.attached?
        = image_tag(url_for(@room.room_image), alt: "#{@room.room_number.titleize} #{@room.building.name.titleize} picture")
      -else
        = image_tag(asset_pack_path('media/mi_locations/images/vistas/Burton.jpg'), alt: "#{@room.room_number.titleize} #{@room.building.name.titleize} image not available")

  = render partial: 'alerts/alerts', locals: {alertable: @room}

  .room-info-pane
    .room-name-address
      .room-title
        = @room.title
      .room-department
        = get_department(current_user.uniqname)
    .info
      .left
        %li.room-capacity
          %i.fas.fa-users
          = "Capacity #{@room.instructional_seating_count} "
          - if @room.team_learning_classroom?
            .room-team-learning
              %i.fas.fa-handshake
              Team Learning
        %li.room-layout
          %i.fas.fa-chair
          Room Layout

      .right
        %li.room-directions
          %i.fas.fa-map-marked-alt
          Directions

        %li.room-calendar
          = link_to  "https://csprod.dsc.umich.edu/services/facilitycalendar?facilityid=#{@room.facility_code_heprod }", :target => "_blank", :role => "button", :class => " button tooltip tooltip-top ", "data-tooltip" => "Go to room schedule." do
            %i.fas.fa-calendar
            Calendar


  %section.room-features.features-group
    %h2
      Room Features


    .room-chars
      - @room.room_characteristics.select{ |c| c.feature?}.each do |rc|
        .room-char
          %i{ class: "#{rc.characteristic_icon}" }
          %b= rc.characteristic_label
          -# .room-char-description
            = rc.chrstc_desc254



  %section.secondary-features
    .team-learning
      %h2 Team Learning
      .room-chars
        -@room.room_characteristics.select{ |c| c.teamlearning_feature?}.each do |rc|
          .room-char
            %i{ class: "#{rc.characteristic_icon}" }
            %b= rc.characteristic_label
            -# .room-char-description
            -#   = rc.chrstc_desc254

      .writing-surfaces
        %h2 Writing Surfaces
        .room-chars
          -@room.room_characteristics.select{ |c| c.teamlearning_feature? || c.whiteboard_feature? || c.chalkboard_feature?}.each do |rc|
            .room-char
              %i{ class: "#{rc.characteristic_icon}" }
              %b= rc.characteristic_label
              -# .room-char-description
              -#   = rc.chrstc_desc254

      .projection
        %h2 Projection
        .room-chars
          -@room.room_characteristics.select{ |c| c.projection_feature?}.each do |rc|
            .room-char
              %i{ class: "#{rc.characteristic_icon}" }
              %b= rc.characteristic_label
              -# .room-char-description
              -#   = rc.chrstc_desc254


  - if policy(@room).update?
    = render partial: 'alerts/form', locals: {alertable: @room}

    %h3 Add an Image

    = render partial: 'room_image_form', locals: {room: @rooms}

    %h3 Add a Panorama
    = @room.rmrecnbr

    = render partial: 'room_panorama_form', locals: {room: @rooms}