%h1 Rooms#show
%p Find me in app/views/rooms/show.html.haml
- if @room.room_image.attached?
  = image_tag @room.room_image, alt: "#{@room.room_number.titleize} #{@room.building.nick_name.titleize} "

= @room.room_number
= @room.building.nick_name.titleize

= render partial: 'alerts/alerts', locals: {alertable: @room}
= render partial: 'alerts/form', locals: {alertable: @room}

%h3 Add an Image

= render partial: 'room_image_form', locals: {room: @rooms}