- content_for :head do
  = javascript_pack_tag 'rooms_maps', 'data-turbolinks-track': 'reload'
.room-show{ "data-controller" => "toggle"}
  .h-64.mb-10.overflow-hidden
    #rooms_found.hidden
      = @room_json
    #map.room-map.hidden{ "data-target" => "toggle.roommap" }
      Map Goes Here

    .image-container
      .room-show-image{ "data-target" => "toggle.roommap" }
        = link_to @room do
          - if @room.room_image.attached?
            = image_tag(url_for(@room.room_image), alt: "#{@room.room_number.titleize} #{@room.building.name.titleize} picture")
          - else
            = image_tag(asset_pack_path('media/mi_locations/images/vistas/Burton.jpg'), alt: "#{@room.room_number.titleize} #{@room.building.name.titleize} image not available")

      .room-map-toggle{"data-action" => "click->toggle#roommaptoggle", }
        .map{ "data-target" => "toggle.roommap"}
          %i.fas.fa-map
          Map
        .close-map.hidden{ "data-target" => "toggle.roommap"}
          %i.fas.fa-map
          Close
    
  = render partial: 'alerts/alerts', locals: {alertable: @room}

  .room-info-pane
    .left
      .room-title
        = @room.title

      .room-capacity
        %i.fas.fa-users
        = "Capacity #{@room.instructional_seating_count} "
    .right.list-none
      %li
        %i.fas.fa-map-marked-alt
        Directions
      %li
        %i.fas.fa-map
        Map
      %li
        %i.fas.fa-calendar
        Calendar




  %section.room-features
    %h2
      Room Features
    .px-8

      .room-chars
        - @room.room_characteristics.select{ |c| c.feature?}.each do |rc|
          .room-char
            %i{ class: "#{rc.characteristic_icon}" }
            %b= rc.characteristic_label
            .room-char-description
              = rc.chrstc_desc254


  %section.secondary-features
    .writing-surfaces
      %h2 Writing Surfaces

      .room-chars
        -@room.room_characteristics.select{ |c| c.whiteboard_feature? || c.whiteboard_feature?}.each do |rc|
          .room-char
            %i{ class: "#{rc.characteristic_icon}" }
            %b= rc.characteristic_label
            -# .room-char-description
            -#   = rc.chrstc_desc254


        -@room.room_characteristics.select{ |c| c.chalkboard_feature? || c.chalkboard_feature?}.each do |rc|
          .room-char
            %i{ class: "#{rc.characteristic_icon}" }
            %b= rc.characteristic_label
            -# .room-char-description
            -#   = rc.chrstc_desc254
        -@room.room_characteristics.select{ |c| c.teamboard_feature? || c.teamboard_feature?}.each do |rc|
          .room-char
            %i{ class: "#{rc.characteristic_icon}" }
            %b= rc.characteristic_label
            -# .room-char-description
            -#   = rc.chrstc_desc254

    .projection
      %h2 Projection
      .room-chars
        -@room.room_characteristics.select{ |c| c.projection_feature?}.each do |rc|
          .room-char
            %i{ class: "#{rc.characteristic_icon}" }
            %b= rc.characteristic_label
            -# .room-char-description
            -#   = rc.chrstc_desc254


  - if policy(@room).update?
    = render partial: 'alerts/form', locals: {alertable: @room}

    %h3 Add an Image

    = render partial: 'room_image_form', locals: {room: @rooms}