.flash-alerts
  - flash.each do |name, message|

    .alert{:class => "#{flash_class(name.to_sym)} fade in", :role => "alert"}

      %span.alert-badge= "#{name} !"

      %span.alert-message= "#{message.humanize}"
      .alert-close{"aria-label" => "Close", "data-dismiss" => "alert", :onclick => "this.parentElement.style.display='none'"}
        .icon= render "icons/close_icon"