- if flash.present?
  .flash-alerts
    - flash.each do |name, message|

      .alert{:class => "#{flash_class(name.to_sym)} fade in", :role => "alert"}

        %span.alert-badge= "#{name} !"

        %span.alert-message= "#{message.humanize}"
        %svg.fill-current.opacity-75.h-4.w-4{:viewbox => "0 0 20 20", :xmlns => "http://www.w3.org/2000/svg"}
          %path{:d => "M12.95 10.707l.707-.707L8 4.343 6.586 5.757 10.828 10l-4.242 4.243L8 15.657l4.95-4.95z"}

        .alert-close{"aria-label" => "Close", "data-dismiss" => "alert", :onclick => "this.parentElement.style.display='none'"}
          %i.fas.fa-times
