%footer.footer{:class => "#{controller_name}_#{action_name}"}
  %nav.footer-links
    = link_to 'About', about_path
    = link_to 'Contact', contact_path
    = link_to 'Privacy', privacy_path
  .footer-logo
    = link_to lsa_tech_services_url, target: "_blank" do
      = image_tag(image_pack_path('technology_services_logo.svg'), alt: 'MiLocations Logo, link to home page.' )
  .footer-copyright
    = link_to "© 2021 - Copyright The Regents of the University of Michigan", 'https://www.umich.edu/', target: '_blank'