%footer.footer
  %nav
    = link_to lsa_tech_services_url, target: "_blank" do
      -# = image_tag(asset_pack_path('media/mi_locations/images/MiLocationsNamePlate.svg'), alt: 'MiLocations Logo, link to home page.', class: 'footer-logo' )
      = image_tag(asset_pack_path('media/mi_locations/images/LSA_TechnologyServices_Pill.png'), alt: 'MiLocations Logo, link to home page.', class: 'footer-logo' )
    .footer-links
      = link_to 'About', about_path
      = link_to 'Contact', contact_path
      = link_to 'Privacy Policy', privacy_path

  .footer-copyright
    = link_to "© 2020 - Copyright The Regents of the University of Michigan", 'https://www.umich.edu/', target: '_blank'
