%footer.fixed-bottom
  %nav.font-sans.flex.flex-col.text-center.sm:flex-row.sm:text-left.sm:justify-between.py-4.px-6.shadow.sm:items-baseline
    .mb-0
      = link_to root_path do
        = image_tag(asset_pack_path('mi_locations/images/MiLocationsNamePlate.svg'), alt: 'MiLocations Logo, link to home page.', class: 'footer-logo' )
    .footer-links
      = link_to 'About', about_path
      = link_to 'Contact', contact_path
      = link_to 'Privacy Policy', privacy_path

  .footer-copyright
    = link_to "© 2018 - Copyright The Regents of the University of Michigan", 'https://www.umich.edu/', target: '_blank'

-# %footer.fixed-bottom
-#
-#   .footer-brand
-#     = link_to image_tag(asset_pack_path('mi_locations/images/MiLocationsLogo.png'), class: 'footer-logo', alt: 'MiLocations Logo, link to home page.'), root_path
-#
-#     = link_to (t :sitename), root_path, class:'site-name'
-#   .footer-links
-#     %ul
-#       %li= link_to 'About', about_path
-#       %li= link_to 'Contact Us', contact_path
-#       %li= link_to 'Privacy Policy', privacy_path
-#     .footer-copyright
-#       = link_to "© 2018 - Copyright mi_locations", about_path
-#   .footer-contact
-#     = render 'feedback/feedback'
