.header-container{ "data-controller" => "toggle", "data-action" => "resize@window->toggle#hideuseractions"}
  %header.header
    .flex.justify-between.px-4.py-3.xl:w-72.xl:justify-center.xl:py-5
      %span
        = link_to root_path, class: '' do
          = image_tag(asset_pack_path('media/mi_locations/images/MiLocationsNamePlate.svg'), alt: 'MiLocations Logo, link to home page.', class: 'header-logo')

        -# %i.fas.fa-photo-video.text-white.fill-current

      .header-toggle
        %button.header-toggle-button{:type => "button", "data-action" => "toggle#mainnavtoggle" }

          %svg{:viewbox => "0 0 512 512", :xmlns => "http://www.w3.org/2000/svg", "data-target" => "toggle.mainnav"}
            %path{:d => "M436 124H12c-6.627 0-12-5.373-12-12V80c0-6.627 5.373-12 12-12h424c6.627 0 12 5.373 12 12v32c0 6.627-5.373 12-12 12zm0 160H12c-6.627 0-12-5.373-12-12v-32c0-6.627 5.373-12 12-12h424c6.627 0 12 5.373 12 12v32c0 6.627-5.373 12-12 12zm0 160H12c-6.627 0-12-5.373-12-12v-32c0-6.627 5.373-12 12-12h424c6.627 0 12 5.373 12 12v32c0 6.627-5.373 12-12 12z"}

          %svg.hidden{:viewbox => "0 0 320 512", :xmlns => "http://www.w3.org/2000/svg", "data-target" => "toggle.mainnav"}
            %path{:d => "M207.6 256l107.72-107.72c6.23-6.23 6.23-16.34 0-22.58l-25.03-25.03c-6.23-6.23-16.34-6.23-22.58 0L160 208.4 52.28 100.68c-6.23-6.23-16.34-6.23-22.58 0L4.68 125.7c-6.23 6.23-6.23 16.34 0 22.58L112.4 256 4.68 363.72c-6.23 6.23-6.23 16.34 0 22.58l25.03 25.03c6.23 6.23 16.34 6.23 22.58 0L160 303.6l107.72 107.72c6.23 6.23 16.34 6.23 22.58 0l25.03-25.03c6.23-6.23 6.23-16.34 0-22.58L207.6 256z"}

    %nav.header-nav.hidden{"data-target" => "toggle.mainnav"}
      .header-links
        .header-link
          = link_to "About", about_path
        .header-link
          = link_to 'Contact', contact_path
        -# .header-link
          = link_to "Buildings", buildings_path
        .header-link
          = link_to "Classrooms", rooms_path

      .user-actions
        .flex.items-center
          - if user_signed_in?
            %img.user-avatar{:alt => "User Photo", :src => current_user.avatar_url, "data-action" => "click->toggle#dropdowntoggle" }
            %span.user-name
              = current_user.uniqname
          - else
            .user-action-link
              = link_to user_google_oauth2_omniauth_authorize_path do
                %i.fas.fa-user-plus
                Sign In

        .mt-5.sm:hidden

          - if user_signed_in?
            -# .user-action-link.-mt-3= link_to "Account settings", edit_user_registration_path

            .user-action-link= link_to("Sign out #{current_user.uniqname}", destroy_user_session_path, method: :delete)


        .user-action-dropdown.hidden{"data-target" => "toggle.dropdown"}

          - if user_signed_in?
            -# .user-action-link.mt-1= link_to "Account settings", edit_user_registration_path
            %span.user-name
              = current_user.uniqname
            .user-action-link= link_to("Sign out #{current_user.uniqname}", destroy_user_session_path, method: :delete)
          - else
            .user-action-link= link_to 'Sign in', user_google_oauth2_omniauth_authorize_path