%header
  %nav.navbar.header-navbar

    = link_to root_path, class: '' do
      = image_tag(asset_pack_path('mi_locations/images/MiLocationsNamePlate.svg'), alt: 'MiLocations Logo, link to home page.', class: 'header-logo navbar-brand')

    %nav.header-links
      %ul
        %li= link_to "Buildings", buildings_path
        %li= link_to "Classrooms", classrooms_path
        %li= link_to "Rooms", rooms_path
        -# %li= link_to "About", about_path
        -# %li= link_to "Contact Us", contact_path
        -# %li= link_to "Privacy", privacy_path
