%header
  / Navigation
  %nav.header-navbar
    %ul
      %li
        = link_to image_tag(asset_pack_path('mi_locations/images/MiLocationsLogo.png'), class: 'navbar-brand navbar-logo', alt: 'MiLocations Logo, link to home page.'), root_path
        = link_to((t :sitename), root_path, class: 'navbar-brand navbar-logo', id: root_path(anchor: 'page-top') )
        %span.sr-only (current)
    .header-links
      %ul
        %li= link_to "Buildings", buildings_path
        %li= link_to "Rooms", rooms_path
        %li= link_to "About", about_path
        %li= link_to "Contact Us", contact_path
        %li= link_to "Privacy", privacy_path
