!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}
    %title= (t :sitename)
    = csrf_meta_tags
    = stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_pack_tag 'application', 'data-turbolinks-track': 'reload'
    - if content_for? :head
      = yield :head

  %body.min-h-screen{'data-environment' => Rails.env}
    #page-top

      - unless Rails.env.production?
        .corner-ribbon.bottom-right= link_to('Work in Progress', project_status_path)

        = render 'layouts/tailwind_breakpoints', cached: true
      = render 'layouts/header', cached: true
      %main.content#content{:class => controller.controller_name}
        %div.relative
          = render 'layouts/flash_messages', cached: true
        = yield
        - unless action_name == 'contact'
          = render 'feedback/feedback_modal', cached: true
      -# = debug(params) if Rails.env.development? && current_user && current_user.uniqname == 'admin'
      -# = debug @user if Rails.env.development?
    = render 'layouts/footer', cached: true