!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}
    %title= (t :sitename)
    = csrf_meta_tags
    = stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_pack_tag 'application', 'data-turbolinks-track': 'reload'

    -# %script{:src => "https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.5.1/leaflet.js"}
    -# %link{:href => "https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.5.1/leaflet.css", :rel => "stylesheet", :type => "text/css"}/

    - if content_for? :head
      = yield :head
  %body.min-h-screen{'data-environment' => Rails.env}
    #page-top

      - unless Rails.env.production?
        .corner-ribbon.bottom-right= link_to('Work in Progress', project_status_path)

        = render 'layouts/tailwind_breakpoints'
      = render 'layouts/header'
      %main.content#content{:class => controller.controller_name}

        = yield

      = debug(params) if Rails.env.development?
      = debug @user if Rails.env.development?
    = render 'layouts/footer'
